FORMAT: 1A
HOST: http://jincor.com:8080/api/v1/

# JinCorCompany

JincorCompany is a service that manages the core Domain of JinCor - Companies.
Users(Actually, employees) are registring company profiles and personal accounts in the companies.
There are some dictionaries are also available in this service.


## Localization

In order to localize server responses pass the `Locale` header.
Currently supported locales
1. en - English locale (DEFAULT)
2. ru - Russian locale


## Authorization
We use JWT for authentication and authorization. Refer to JWT documentation in order to get more
info about JWT itself. We support only `Bearer` tokens which must be sent in HTTP-headers.
Most of API methods require authorization and not accessible without JWT. But most of dictionaries
can be accessed by anyone.

## Company registration process

Company registration process is built around the concept of verification sessions.
When someone registers a company, he or she forced to create the first account in
this company.

According to business requirements system should allow users to have
multiple accounts attached to one email. So, here everything is pretty like in
classical multy-tenant saas application - unqie profile is not only it's own id but
the tenant id as well. So in our case email + companyId.

To make registration process more configurable we use Entity called `VerificationProcess`
which has unique key which you must provide to server when doing requests during verification process.
Note that `VerificationProcess` also keeps all the data required to restore the session, think about it like about session key.

In order to achieve business requirement which shortly can be described as: 'Trigger user registration after company registration'
I've moved creating of `VerificationProcess` Entity to the end of company registration workflow.
So, remember: The result of company registration is always `VerificationProcess`.


## Login process

At first time the whole login system can look too complicated that's why we added this section
to our docs to get you through the login process quickly.
1 user(means 1 email address) can be associated to many companies. Because of some reasons
like security and functionality we decided to keep such kind of accounts independently.
But this decion leads us to another problem: you must specify company you are logging in
in every login request.
The login workflow is looks like this:
1. Get the list of companies from the server by email and password
2. Pick of the companies and send login request with email, password and companyId

Or if you don't have email&password you can use alternative authentication method with
VerificationProcess and verificationId. Just replace email&password by verificationId and
you are done.


## VerificationProcess notes
There is a concept of VerificationProcess in our app which should be mentioned. In order to verify
the ownership of email address or mobile phone we use verification codes. I found out that this codes
may be usable in such cases as: registration, restore password, invite employee. All this cases
are same in general but different in some details, but the process of verification of ownership is 100%
same. So I've creared a model called VerificationProcess which represents exact this thing.
It contains some helpfull references like reference to company or employee it belongs to,
email address, phone number and information about it's statuses(verified: true, false).
Just remember that if you need to do some actions with employee but you don't have email/password
you need to checkout VerificationProcess first.

# Group Dictionaries

## Countries [/dictionary/country]

### Get countries dictionary [GET]

Get the list of the countries

+ Response 200 (application/json)

    + Body

            {
              "data": [
                {
                  "id": "f760fe12-4afe-4360-8eda-b1282864dd85",
                  "alpha2": "RU",
                  "name": "Россия",
                  "locale": "ru"
                },
                {
                  "id": "2e6761a8-49bd-42e7-9da0-01c7167a15e4",
                  "alpha2": "US",
                  "name": "США",
                  "locale": "ru"
                }
              ]
            }


## Cities [/dictionary/city/{country}]

### Get cities dictionary [GET]

Get the list of the cities

+ Parameters

    + country (string, required)
      Id of an existing  country you want to get cities for

+ Response 200 (application/json)

    + Body


            {
                "data": [
                    {
                        "id": "f760fe12-4afe-4360-8eda-b1282864dd21",
                        "name": "Нижний Тагил",
                    },
                    {
                        "id": "f760fe12-4afe-4360-8eda-b1282864dd74",
                        "name": "Нижний Новгород",
                    }
                    {
                        "id": "f760fe12-3afe-4360-8eda-b1282864dd76",
                        "name": "Москва",
                    }
                ]
            }

## Company Types [/company/types]

### Get the list of company types [GET]

Returns the list of company types

+ Response 200 (application/json)

    + Body

            {
              "data": [
                {
                  "id": "b9e997d2-82c5-4441-bf25-084eb06b1965",
                  "name": "Private Company",
                  "code": "BT1"
                },
                {
                  "id": "8cc675f9-0382-48cc-96a7-16bb0e289843",
                  "name": "Public Company",
                  "code": "BT2"
                },
                {
                  "id": "cbf5be7e-0654-4757-a58d-f9478cf07f40",
                  "name": "Sole Proprietorship",
                  "code": "BT3"
                },
                {
                  "id": "5948d1da-4521-41ff-b5bd-09720502828f",
                  "name": "Nonprofit organization",
                  "code": "BT4"
                },
                {
                  "id": "11f847f0-80bb-4a53-b07b-256d50cc7632",
                  "name": "Goverment Organization",
                  "code": "BT5"
                },
                {
                  "id": "dd92e0a1-9fac-4a6c-a8a7-e931707885bc",
                  "name": "State-owned enterprise",
                  "code": "BT6"
                },
                {
                  "id": "32e64186-761a-47c3-8200-78a2ca54b121",
                  "name": "International organization",
                  "code": "BT7"
                }
              ]
            }


## Economical Activity Types [/company/activityTypes]

### Get the list of economical activity types [GET]

Returns the list of economical activity types

+ Response 200 (application/json)

    + Body

            {
              "data": [
                {
                  "id": "2480238f-940e-4fd4-9737-e5927081d666",
                  "name": "Agriculture & Forestry",
                  "code": "A",
                  "children": [
                    {
                      "id": "aa7ed11f-e125-45f1-b5ba-e7822f5aee9c",
                      "name": "Crop Production",
                      "code": "AA",
                      "children": [
                        {
                          "id": "1ce4136a-e947-449a-b541-8b6ac8a2f18d",
                          "name": "Protected Cropping",
                          "code": "AAA"
                        },
                        {
                          "id": "6462e6ef-4386-42a0-938e-25c6a88f4eda",
                          "name": "Open-Field Cropping",
                          "code": "AAB"
                        }
                      ]
                    },
                    {
                      "id": "f73122fb-af74-4572-8215-b18516662438",
                      "name": "Mushrooms & Fungi Cultivation",
                      "code": "AB"
                    },
                    {
                      "id": "3537c090-4662-4535-9488-f55bbc7513ae",
                      "name": "Animal Farming",
                      "code": "AC"
                    },
                    {
                      "id": "2712c0cd-5a9e-4e6f-b3eb-e3d8f19fb23b",
                      "name": "Forestry & Logging",
                      "code": "AD"
                    },
                    {
                      "id": "ed61a338-c013-482e-a0b5-f351f87f3d27",
                      "name": "Fisheries & Aquaculture",
                      "code": "AE"
                    },
                    {
                      "id": "00289dd5-377b-4e91-95b5-3d6dcec7773f",
                      "name": "Breeding & Genetics",
                      "code": "AF",
                      "children": [
                        {
                          "id": "24a77215-7b5a-4659-9577-cdb7231d865b",
                          "name": "Plant Breeding & Genetics",
                          "code": "AFA"
                        },
                        {
                          "id": "e2bf4c97-b7b4-4c9f-a95c-b42d35aaec3c",
                          "name": "Fungi Breeding & Genetics",
                          "code": "AFB"
                        },
                        {
                          "id": "2f412040-2a73-4f9d-89e4-72153c459d21",
                          "name": "Animal Breeding & Genetics",
                          "code": "AFC"
                        },
                        {
                          "id": "d5e2317d-8bff-456b-b0cb-7cebfee1b7e7",
                          "name": "Forest Genetics & Tree Breeding",
                          "code": "AFD"
                        },
                        {
                          "id": "c2664f34-c421-43d4-86cd-251d740e9820",
                          "name": "Aquaculture Breeding & Genetics",
                          "code": "AFE"
                        }
                      ]
                    }
                  ]
                }]
            }


# Group Registration

## Register Company [/company]

### Register new company [POST]

Anyone can register company. The result of successfull registration is VerificationProcess.
Use this process `id` to pass to verification requests.

+ Request (application/json)

        {
            "legalName": "Компания",
            "countryId": "917aa652-6d12-446e-a0aa-89b4e2a70ce9",
            "companyType": "b9e997d2-82c5-4441-bf25-084eb06b1965"
        }


+ Response 201 (application/json)

    + Headers

            Location: /api/v1/company/21afcee6-6aa6-49f3-8c56-2d1b3fb03b53

    + Body

            "data" : {
              "id": "a32d7960-4bd5-4a73-9aeb-4e9551c77ddc",
              "companyId": "21afcee6-6aa6-49f3-8c56-2d1b3fb03b53",
              "email": {
                "value": null,
                "isVerified": false
              },
              "phone": {
                "value": null,
                "isVerified": false
              }
            }



+ Response 422 (application/json)

    + Body

            {
              "message": "422 Unprocessable Entity",
              "errors": {
                "companyType": [
                  "Company type c699fc1a-ec7f-4021-9102-31ff03c5624a is not found on server"
                ]
              },
              "status_code": 422
            }


## Send e-mail verification [/employee/verifyEmail/{verificationId}/{email}]

### Send email verification code [GET]

Send verification code to users email. Email will be saved in `VerificationProcess` entity and
will be associated with employee on registration complete.

+ Parameters
    + verificationId (string, required)
        ID of verificationProcess entity
    + email (string, required)
        Email we want to verify


+ Response 200 (application/json)

    + Body

            {
                "data": {
                  "id": "11f43465-d042-4db0-8aa9-13bac482bb59",
                  "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
                  "email": {
                    "value": "test@test.com",
                    "isVerified": false
                  },
                  "phone": {
                    "value": null,
                    "isVerified": false
                  }
                }
            }

## Verify e-mail [/employee/verifyEmail]

### Verify email [POST]

Verify email by providing verificationId and email verification code.

+ Request (application/json)

            {
                "verificationId": "bb69ec2e-9294-41fc-a593-a01a0f973f46",
                "verificationCode": "611964"
            }


+ Response 200 (application/json)

    + Body

            {
                "data": {
                  "id": "11f43465-d042-4db0-8aa9-13bac482bb59",
                  "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
                  "email": {
                    "value": "test@test.com",
                    "isVerified": true
                  },
                  "phone": {
                    "value": null,
                    "isVerified": false
                  }
                }
            }


## Register employee [/employee/register]

### Register employee in the company [POST]

Register new Employee. Warning! This action can be called only if the user verified email
. Will create an entity in database and register employee in auth server.
Internal login will be created.

+ Request (application/json)

            {
                "firstName": "Andrey",
                "lastName": "Degtyaruk",
                "password": "cm2jpmrt6c",
                "verificationId": "bb69ec2e-9294-41fc-a593-a01a0f973f46",
                "position": "Директор"
            }

+ Response 200 (application/json)

    + Body

            {
              "data": {
                "employee": {
                  "id": "b9664ab7-ae01-4d0b-9d1c-57b85977debe",
                  "profile": {
                    "name": "Andrey Degtyaruk",
                    "position": "CTO",
                    "role": "company-admin", //company-admin, employee
                    "avatar": null
                  },
                  "admin": true,
                  "contacts": {
                    "email": "hlogeon1@gmail.com",
                    "phone": null
                  },
                  "company": {
                    "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                    "legalName": "Test Company",
                    "profile": {
                      "brandName": {
                        "en": "My english brand name",
                        "ru": "Мое русское брендовое имя!"
                      },
                      "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f05129ba5cd.png",
                      "links": [
                        {
                          "name": "facebook",
                          "value": "http://facebook.com"
                        }
                      ],
                      "email": "admin@jincor.com",
                      "phone": "+7999229393",
                      "address": {
                        "country": {
                          "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                          "name": "Russia"
                        },
                        "city": null,
                        "formattedAddress": "Пироговый переулок, 5, оф. 15"
                      }
                    },
                    "economicalActivityTypes": [
                      {
                        "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                        "name": "Forestry & Logging",
                        "code": "AD"
                      },
                      {
                        "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                        "name": "Oil Refining & Natural Gas Processing",
                        "code": "CG"
                      }
                    ],
                    "companyType": {
                      "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                      "name": "Public Company",
                      "code": "BT2"
                    },
                    "employeesCount": 2
                  }
                },
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImYxYjhlMzdjLTMzNGYtNGVkYS04ZTIwLTJmMWIwNDE4YThjYSIsImxvZ2luIjoiYTNjYmUyMWMtYmFiNi00YzcyLTlkMmUtODkwN2Y5YTU2ODk4Omhsb2dlb24xQGdtYWlsLmNvbSIsInNjb3BlIjoiZW1wbG95ZWUiLCJkZXZpY2VJZCI6IjEyMzQ1IiwianRpIjoiZjFiOGUzN2MtMzM0Zi00ZWRhLThlMjAtMmYxYjA0MThhOGNhMTIzNDUxNDkyMTQ1Mzk5MTY0IiwiaWF0IjoxNDkyMTQ1Mzk5MTY0LCJleHAiOjE0OTIxNDYwMDM5NjR9.fbTUkwKO-X_MoMDulV2YrgtX6xVfgxdYbWwaMdV-GWo"
              }
            }


# Group Auth

## Login [/employee/login]


### Login [POST]
Do login. There are 2 main cases:
1. You already know companyId
2. You dont know companyId

In the first case you will need to provide companyId in your request and if authentication successful it will return `employee` and `token`
in response. Look at the first 200 response example.

In the second case you will get the list of companies you can logIn using provided email and password(Look at the second 200 response example). In order to optimize this process
and avoid performing additional request if there's only one company you can login with provided credentials you will get `employee`
and `token` in response(Look at the first 200 response example) instead of list of the companies.

+ Request (application/json)

            {
              "companyId": "23cb5afd-93f0-4062-b774-dcf9ee5f4a0c",
              "email": "test@tester.com",
              "password": "test2test"
            }


+ Response 200 (application/json)

    + Body

            {
              "data": {
                "employee": {
                  "id": "7cd8f02e-1de5-4655-b06b-a038ed275929",
                  "profile": {
                    "name": "John Doe",
                    "position": "Tester",
                    "role": "company-admin", //company-admin, employee
                    "avatar": null
                  },
                  "admin": true,
                  "contacts": {
                    "email": "test@test.com",
                    "phone": null
                  },
                  "company": {
                    "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                    "legalName": "Test Company",
                    "profile": {
                      "brandName": {
                        "en": "My english brand name",
                        "ru": "Мое русское брендовое имя!"
                      },
                      "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f05129ba5cd.png",
                      "links": [
                        {
                          "name": "facebook",
                          "value": "http://facebook.com"
                        }
                      ],
                      "email": "admin@jincor.com",
                      "phone": "+7999229393",
                      "address": {
                        "country": {
                          "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                          "name": "Russia"
                        },
                        "city": null,
                        "formattedAddress": "Пироговый переулок, 5, оф. 15"
                      }
                    },
                    "economicalActivityTypes": [
                      {
                        "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                        "name": "Forestry & Logging",
                        "code": "AD"
                      },
                      {
                        "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                        "name": "Oil Refining & Natural Gas Processing",
                        "code": "CG"
                      }
                    ],
                    "companyType": {
                      "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                      "name": "Public Company",
                      "code": "BT2"
                    },
                    "employeesCount": 2
                  }
                },
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjI4NDFiMTY5LTNhMTgtNDJhNy1hNDQ4LTRiNGZiODViZGM1OSIsImxvZ2luIjoiYTNjYmUyMWMtYmFiNi00YzcyLTlkMmUtODkwN2Y5YTU2ODk4OnRlc3RAdGVzdC5jb20iLCJzY29wZSI6ImNvbXBhbnktYWRtaW4iLCJkZXZpY2VJZCI6IjEyMzQ1IiwianRpIjoiMjg0MWIxNjktM2ExOC00MmE3LWE0NDgtNGI0ZmI4NWJkYzU5MTIzNDUxNDkyMTQ1MDMxMzcxIiwiaWF0IjoxNDkyMTQ1MDMxMzcxLCJleHAiOjE0OTIxNDU2MzYxNzF9.rf8fL7iirl8URhLQuZpPd7JAuPhvQWiyKZJE8guw_Zs"
              }
            }

+ Request (application/json)

            {
              "email": "test@tester.com",
              "password": "test2test"
            }

+ Response 200 (application/json)

    + Body

            {
              "data": [
                {
                  "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                  "legalName": "Test Company",
                  "profile": {
                    "brandName": {
                      "en": "My english brand name",
                      "ru": "Русское название"
                    },
                    "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f05129ba5cd.png",
                    "links": [
                      {
                        "name": "facebook",
                        "value": "http://facebook.com"
                      }
                    ],
                    "email": "admin@jincor.com",
                    "phone": "+7999229393",
                    "address": {
                      "country": {
                        "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                        "name": "Russia"
                      },
                      "city": null,
                      "formattedAddress": "Пироговый переулок, 5, оф. 15"
                    }
                  },
                  "economicalActivityTypes": [
                    {
                      "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                      "name": "Forestry & Logging",
                      "code": "AD"
                    },
                    {
                      "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                      "name": "Oil Refining & Natural Gas Processing",
                      "code": "CG"
                    }
                  ],
                  "companyType": {
                    "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                    "name": "Public Company",
                    "code": "BT2"
                  },
                  "employeesCount": 2
                },
                {
                  "id": "dbc9ebdd-05bb-4da7-8215-592993c49328",
                  "legalName": "Jincor Limited",
                  "profile": {
                    "brandName": null,
                    "picture": null,
                    "links": [],
                    "email": null,
                    "phone": null,
                    "address": {
                      "country": {
                        "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                        "name": "Russia"
                      },
                      "city": null,
                      "formattedAddress": "Москва, ул. Алая, д. 15, оф. 89, 602030"
                    }
                  },
                  "economicalActivityTypes": [],
                  "companyType": {
                    "id": "a28accc3-7ed3-4c68-9745-e7908bb7d848",
                    "name": "Private Company",
                    "code": "BT1"
                  },
                  "employeesCount": 2
                }
              ]
            }


# Group Company

## My company [/company/my]

### Get my company [GET]

Get details of my company

+ Response 200 (application/json)

    + Body

            {
              "data": {
                    "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                    "legalName": "Test Company",
                    "profile": {
                      "brandName": {
                        "en": "My english brand name",
                        "ru": "Мое русское брендовое имя!"
                      },
                      "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f0455407416.png",
                      "links": [
                        {
                          "name": "facebook",
                          "value": "http://facebook.com"
                        }
                      ],
                      "email": "admin@jincor.com",
                      "phone": "+7999229393",
                      "address": {
                        "country": {
                          "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                          "name": "Russia"
                        },
                        "city": null,
                        "formattedAddress": "Москва, ул. Алая, д. 15, оф. 89, 602030"
                      }
                    },
                    "economicalActivityTypes": [
                      {
                        "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                        "name": "Forestry & Logging",
                        "code": "AD"
                      },
                      {
                        "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                        "name": "Oil Refining & Natural Gas Processing",
                        "code": "CG"
                      }
                    ],
                    "companyType": {
                      "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                      "name": "Public Company",
                      "code": "BT2"
                    },
                    "employeesCount": 2
                }
            }


### Update my company [PUT]

Update existing company by specifying it's attributes

+ Request (application/json)

            {
              "legalName": "Test Company",
              "profile": {
              "brandName": {
                    "en": "My english brand name",
                    "ru": "Мое русское брендовое имя!"
                },
                "links": [
                    {"name": "facebook", "value": "http://facebook.com"}
                ],
                "email": "admin@jincor.com",
                "phone": "+7999229393",
                "address": {
                    "country": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                    "city": null,
                    "formattedAddress": "Пироговый переулок, 5, оф. 15"
                },
                "economicalActivityTypes": [
                    "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                    "0e5e6e6a-5a39-4803-9837-156113692c2d"
                ],
                "companyType": "547e7d91-bc27-4407-a27a-429d2855652b",
                "picture": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAckAAADaCAYAAADNCrnwAAAACXBIWXMAABRNAAAUTQGUyo0vAAAC0WlDQ1BJQ0MgUHJvZmlsZQAAeJyNlM9LFGEYx7+zjRgoQWBme4ihQ0ioTBZlROWuv9i0bVl/lBLE7Oy7u5Ozs9PM7JoiEV46ZtE9Kg8e+gM8eOiUl8LALALpblFEgpeS7Xlnxt0R7ccLM/N5nx/f53nf4X2BGlkxTT0kAXnDsZJ9Uen66JhU+xEhHEEdwqhTVNuMJBIDoMFjsWtsvofAvyute/v/OurStpoHhP1A6Eea2Sqw7xfZC1lqBBC5XsOEYzrE9zhbnv0x55TH8659KNlFvEh8QDUtHv+auEPNKWmgRiRuyQZiUgHO60XV7+cgPfXMGB6k73Hq6S6ze3wWZtJKdz9xG/HnNOvu4ZrE8xmtN0bcTM9axuod9lg4oTmxIY9DI4YeH/C5yUjFr/qaoulEk9v6dmmwZ9t+S7mcIA4TJ8cL/TymkXI7p3JD1zwW9KlcV9znd1Yxyeseo5g5U3f/F/UWeoVR6GDQYNDbgIQk+hBFK0xYKCBDHo0iNLIyN8YitjG+Z6SORIAl8q9TzrqbcxtFyuZZI4jGMdNSUZDkD/JXeVV+Ks/JX2bDxeaqZ8a6qanLD76TLq+8ret7/Z48fZXqRsirI0vWfGVNdqDTQHcZYzZcVeI12P34ZmCVLFCpFSlXadytVHJ9Nr0jgWp/2j2KXZpebKrWWhUXbqzUL03v2KvCrlWxyqp2zqtxwXwmHhVPijGxQzwHSbwkdooXxW6anRcHKhnDpKJhwlWyoVCWgUnymjv+mRcL76y5o6GPGczSVImf/4RVyGg6CxzRf7j/c/B7xaOxIvDCBg6frto2ku4dIjQuV23OFeDCN7oP3lZtzXQeDj0BFs6oRavkSwvCG4pmdxw+6SqYk5aWzTlSuyyflSJ0JTEpZqhtLZKi65LrsiWL2cwqsXQb7Mypdk+lnnal5lO5vEHnr/YRsPWwXP75rFzeek49rAEv9d/AvP1FtoHToQAAP0ZJREFUeJztvXmcJUd15/uNyMy71977rm611tbaAgkQQkiAxWIsbBm8sdjGfoPxGNtvzPgZ24zf2B7zwQbjZQbGGMPggTFg4LFKCJCEFoT2rVvqRb2p963Wu2ZmxPsjMm9VdXd1V1VX9b3Vdb4fpar61r2ZkZF545fnxDknlLXWIgiCIAjCSehWN0AQBEEQ2hURSUEQBEGYABFJQRAEQZgAEUlBEARBmAARSUEQBEGYABFJQRAEQZgAEUlBEARBmAARSUEQBEGYABFJQRAEQZgAEUlBEARBmAARSUEQBEGYABFJQRAEQZgAEUlBEARBmAARSUEQBEGYABFJQRAEQZgAEUlBEARBmAARSUEQBEGYABFJQRAEQZgAv9UNaC/s+J92wjfO0NFm+QBni2nRcZX7n/uhktdUixojCMJ8Rllr23ykng2s29IzV4pkZBbaGWux1rjrphRKKRFPQRBmlXkikmNEcUJBNFhTw0YjmLgMppr8rGFNFWsaWNsAa5J9mTH7nkaLrOWlgRqRte0nzwqIofOxBn7FYmfaKa8ApZ3IaQ1aoYIMOpfDy+fR+QJeZydesYgulQg6O9HFEsrzTt6XtVhjRDQFQZgVzmt3qzXGCZDWgGpqo43LxI1DmMZ+4voBTOMIJjqOiUawpgomxBKBjZMPnCiEZ/dcoRTEsWXXSwM0rGlPkYxg2TfLZAYs1meWXc9qzA/3u/I8lO+jMhl0oYDf0Ynf10dm6TKyK1aQXb2G3IqV+D0948XTGPcspGW6XRCEs+e8FElrDEqp5kBpTY24touwspW4uoO4fgAbDSWWoQWlQXko9JjfPdCzI1/O4LFkMs4ibUuR1OB3Bvj2XIjkGJIHEpv+HseYwUHqx49T2/Ei1rgHFxVk8Lu6ySxfTv6iiylecSWFSy7F7+x0/ZlYmEprsS4FQZg255W71RqbeFMVYBl8ci+14w9TWP8kUfkY2NAJoPJB+aODp23+j3OhBqkl+dS+wba2JJd8sUJm8ByL5CnbMxq8o5LfrTFOQBsNbBShfB9/wQKKl2+g67W30nH1NaggSOYxrViWgiBMi/PCkrTGjeBKK2xsOP7w8xz8zsP0/2QPvTf3U1hfAzIoPztGEO0p3KhCW5JeJ3tCPLDnoQsFlFJYazGDgwze80MG77uH3Lr19L7xzXS/9hZ0LgcmmUMWsRQEYQrMeZFMXasoRf9j29j7f+5leNMulK/wsjn8fBGIEFE8D7F2vHD6Pl4QAFDfuYN9f/s3HPv/vsqCn38H3TffgvK8cfeLIAjCmZi7Immtc696mtqB4+z+l+9x7IHnQCv8Uh60JRrGpQwoi6R4zAMS1yqAyuXw83ka+/ez96Mfof97d7Hk136DwsUXjwZ0iVAKgnAG5qRIpnOPytMc+u5j7P7sXURDZfxSAbCjg6AI4/wljXLNZPBzOSrPPcvOD/4+C+54B4t+4RchCEYDewRBECZgzomkjQ3K00QjVXb84zc58sMn8Qs5/I4CNm5ViRihbbEWG8foQgGs5fDnP0v52adZ8ft/QGbJEmwcnzr/UhAEgTlWu9UaJ5CVPUd47j//M0d++CRBVxE8LQIpnB5jwFr87h4qzz3Ljv/0u4w89aSbp4zjVrdOEIQ2Zc6IpI2da2zwuV08958/TXX3IYKukhNHCcgRJomNI7xSiXh4mN0f/mMG7vmBCKUgCBMyJ9ytqQU58Ph2tvzlF7BRjFfIysAmTAsbx6hMBuKYlz76EeJqlb43vUVcr4IgnETbW5JpcMXg0zvY8hdfwMYGnQnEvSqcHcaA1niFPAf+4RMcv+u7SYqIPHgJgjBKW4ukNa5Sysi2fc6CNDE68F21FUE4W6xLDdL5Avv//hMMPvgASotQCoIwSvuKpLUorWgcG2brR75EXGmgk7B9QZgxrAWt0UHAvo9/lMqWF1DaG63QIwjCvKZ9RVK55aS2f/yr1PYdxctnRCCF2cEY8H1svcHej32UaGjIla+TgDBBmPe0pUg6MVTs/cK99D/yAn5HXuYghdnFGHQ+T2P3Lg588h/dayKSgjDvabvo1nQecmjTbvZ+6b6zFkhrwcQaY1Tb1N9RKknbQ7d0cY0zYbXG6mTR5TZs6IxrmLGozm76772H4rXX0fu610tVHkGY57SdSKYreez5l7tQJkZ7fnOVjyntR4FCkfENxWKdyGpUm4x16VJZgaokBbdb3aKTsUBQKROUTeuXypoAz9fNpbNmDKWw2jL8mU/SfdWV6IWLkzVH2/AiCYIw67SVSKZP7Xu+9mP2P7KNoLuALdentzMFqgHbX8qx+f6VqBptVcrVWhjsXAEZBW3qSW7c1EEQamwb9VuKUorde8qUyxF6hhfHVp6mNlTm0u8/w5t/8fVuPUoRSUGYl7SPSCYL49YHymz5wj3UFDQqjWn71KxSZOMGm3eu4/Hy5WTjBrbNBrolty4k05PBRratBBxccxbd2kWQ9Wm7dbktaF/x9Pdf5PiBYfzAm/E22mWKTTtCLt8/wJpl3SKUgjBPaRuRdMteKXZ99SEq+46S6S66ucjpDkxKAZogMJSKDTJR2F4iaSFQNXxibBv6MhUQVDxnSbZb8xKRzNcrFMIqPjPfRq0Vw9WI7z70Iu+7Y+PM7lwQhDlDe4ikdetCNgYr7Pn2T/DzmWnNQ55ixy5wxyiMUW0mkhaDToJ32k2FHC5wpz1F0mqF0Rqj3DYLMTzkcwFPvHCAPQcHWbWkS6xJQZiHtEUoSyqI+77/FOV9R9HZQMLvhZajtaJaC7nviT2A3JKCMB9pC5FUnmvG3u89gfZ9GY2EtsBaSzbj88TzBxiuNNBaya0pCPOMlotkakUOPL+XwS0v4eWDGXK1CsLZYS0EvuboQJlNLx5OXpN7UxDmEy0XyfTR/PCjW4mqdUncFtoPC89udyLZblHIgiDMLi1XJJXkuB17cjvKl3qZQnthrSUIPLa/1E8jjNFKtWmYlSAIs0FrRTKpZFI7NszQjoN4mUA0UmgrrIXA0xwdqLD38HDymtykgjBfaKlIpoPN8I6D1I8PoQNPLEmh7VBaUW9E7NjX716QW1QQ5g0ttiTdj4Gt+zCNSOpjCm3Nrv0DrW6CIAjnmNYWE0hEcWj7Pjc3OYee0JVSZ63pWik3x6Vou4AQxZj2zcL+LXPHbWkt+J5m/xHnbp3pWrGCILQvLRXJNGinvPcoyveYKyqpFNQbEY3GWazgYSFbDwkbtG3t1moUEanZqbijlSKYM5HMFt/THBusMjRSp7OUlYVBBGGe0DqRTEaZen+Z2pFBtO/NielIpRT1esTVVy/miisWUa9H0ytVZiG3Io/O6rZ9NiiWghm3mizgK8Wxap0Xjg/hz4FoUWud9ViuNOgfrjqRxNI+K5QKgjBbtEwk0yfx+rEhGsMVV3VnDqikUhCGhgvX9fDqG1dhjBX32xRIr/ue4TKbjw6CPzfc7FopamHEkf4Kq5d2uzbLZReE854WulvdKFM9Moiph/iF7JyqtBNFrq3mbNo8DwdZa8FTCjPXREaBsZbjQ7VWt0QQhHNIC92t7kf9+DAmipMJnrkjkqmHVWslluQUSK+wVnPCcTAOa6F/qNrqZgiCcA5peeRE7ejQXNJGYR6jNQyM1N0/5LlIEOYFLRfJxmBZBhyh/bEuaKtcaQByywrCfKF1IpmMMuFQRWLphbbH4oJ3KrUQQBZfFoR5QgsDd9wgE5Zr7jdxuc4rLArrKex01mi0YLVyt9BUCzGcTZyVglojIjYWT+ahBWFe0DKRTB/Eo0rNTfaISs4PkhyQzJajLP6rH5ApTS+qWQO50OJZi88k7h6XoEm0fgEE08lNtSilaIQxYRjjZX0pKCAI84DWWZLJ6BLXQlTLZ0aFc4Z1uR+60iC38zhBR27KImlxN64uZlC+Rk3m45Yx4ji9SGqlFGFkCGNDbsqfFgRhLtIakUxy5GxsiNPC5mJIzhOauTPYbIDN+tMSSQvgaZdLMtkPpS7a6ZBYjVFsiGMzzZ0IgjDXaGntVhsbbDjNsm7CHCWtImCdVZluZ7vLybznLA+jcMUj5lDNC0EQzpLWiqSxxLGrgmlmOKjeorCtz3ARzjfkeU4Q5hUtEklnTVhj8MMGgY3RZmZLsFilyJgQzxqsjGyCIAjCNGiRSDrRsiiO5LuoFBU68GdWJFEEJmI4W0RbIxaAIAiCMGVaIpLprFSkNI+suoLBrjq+P418uUmgrMU3sViTgiAIwpRp6ZwkWLw4xjcG38yOSEqMhSAIgjBdWhu4Y8HY0cBDETRBEAShnWiL8E/JABEEQRDakZaKpEuRE/tREARBaE9abkmKRgqCIAjtSstFUhAEQRDalRaLpJiRgiAIQvvS2jlJZE5SEARBaF/E3SoIgiAIE9DiYgKgtE62ubFcltIKpbXkrQiCIMwDWiuSxlI/PkStEuJ5s1NxZ6bxPEVtsE5crbsX5kCbBUEQhOnR4oo7lnBohLDcwMwRkTSepjFQJa41ALDNSrSCIAjC+UZLRVIxF92tOnG3trolgiAIwmzT8jlJQRCE85FmRbHk4V9pJaEMcxARSUEQhFlAKVCiinMeEUlBEIQZxhhLebjO4YPDHD4wzI6tR7jx1vWsXteLtVbEcw4hIikIgjADpOI3cLzKJ/78BxzcP0h5pE6jHlOtNLjsqmWJSEoG2VxCRFIQ2hgX8W1Pjvwe+2815oe4+FpOvRayc9sRYmMJAo9M1scPNL4vtVvmIiKSgtBmGGMAhW4Gekw94MMYJ6xagkXOOVorsvmAei0ELMaAiU/xoCPMCUQkBaHN0NpZHNZYRoYbVMp1qpWQSrlBvRYShYZqJWyKX76QIZcP6OzJ0dmVp7M7h9ajymiNy+Yd+5owe1jr+lw4PxCRFIR2wsLd39rMc0/u5+ihEYYGq1RGGjTCGGtsYiG6nylaa7QG3/colDL09BVYuaaXSzYs4cqNK+hbVESRDNzijhWEKdFykdTYZJsTtQTQWDxss5aADDdzi+leLzVmmw3SYI4oMnzzS8+wd08/hWIGrRWepwkCzencrhYngpVyg+HBKi9uOcK9d22hsyvPhmuWcdvtl3PxhiVYayW6UhCmQGvL0qGo4FHBx0PNCZH00JTxiZIFVKzI5LSwQGwtXjJoT/WzBhdNaJP7ZrJ7iF2GN1OdIFKAsdZ9fhbu1LF3UbEjS6kjS5DxscY0m6pOE/fhqlcplFZ4viabB4UiDCN+fN+LPPLALm563Xp++f+6nlJHFmOsuF8FYRK0SCRdvVMfww32GA1bR1k9J0xJbTUVW2EFFYBkiJbBZvK4vgqUoisI8INgyvM3FnfjZjyPQCmCyVQ0tBY8TTGbgYw/ZZF0u7BkAh89y1aYiRO3ahJ8k1qYtWrk3KYnvD+NavU8hed7zupUijg2KKUodmSxFr7/nefZ/sJhfvdPXsfy1d1YY105SEEQJqQlIpl+LQMMrzDHiE0NpeaGSCqlicwIy23V/bvF7ZlzJB3mK03HWYpkVit8BQGTuXUsSml6cln0WYmkN+siOZZUIHsXFNlwzXK01mSzHtmc3zyFaiWkPFLj+NEKhw8Oc+zwCI1GRKGYwfM0JnZv7O7Js3dPPx/98Pf48N+8hZ6+grheBeEMtNzdWsUnwkfNkfWfFZqQgFDk8awx1mLOxt06xtU6FXernYa7FZxIxuc4jl8pRb0Wse7ihbz3Azee0U1arYTs3nGMn/xoJz+6eyvVakg+H2CMJYoMxY4s+1/q57P/+BC/96evQx7zBOH0tHwVkDRwZ27MSDr3qsbI0DJHOdvgm1ZfdxPbUz8RJFGr+ULAxZcv5pINS3jDT1/G//jovWzfcoR8wQllHBk6unI88sBOnnrkJa5++cppz0+OfV4QY/Qck9wG0u+zz9ww3wRBAEB76tRbUjQgNZLj2LJ0ZRcf/IvbWLmml3otGp1/TN5z711bJ3XMNOUkjk0zBQXSAt6jA7W11s2nzkDifJpr2DzuuHnaE7bkPXFspuyVmFxb3LFNPDpPPO5vscXEBmtm/NAnHyc9/on9bmam30ePR3Ofp+1/M/7eOOM5nHAfpVt6LHcO7WUwiUgKwnmEUiRpI4o4MpQ6svzKb17v/piMPdZaslmfbc8fYniwhtanX/BcKdVMRXFirLDGUq9FVMohtWqEMW5uMxVtpUar/kwWJ+4mmSd10brN46YPAsnxx23JezxPN9s2E8n8qVCk56891XzQSAVp9Jx1M/p4JgsJpOfSPI5WKKBRj6mUXWGJce1r9vs0phPGCG16H2nvDP2vx98bqXCOxYw9hxPuo3RLj+XOQU37HGaDludJCoIwO3i+xlq4YuNyLrxkEVufP9Scn/R8xdBgjYP7hujoyp02gOfo4RF2bz/GS7v6ObB3kONHR6iUQ+r1iDgyaK3I5X1KnTmWrezmkg1LuGLjcgrFTLPaz2SCg5QCz3NK06jHHDsywsF9Qxw+MMSxo2UG+6tUqyFhPaJRi0CBH3gUO7IsWFRizdo+LrlyCb0LipAI3HTTXNLCC1orKiMNNj29ny3PHeLAvkGGB2uEjRg/0BRLWRYt6WD9pYu4/Jrl9C4ozEzEsHVz9mn79780yDOP7WX7lsMcOThMpdwgCg2ZrEepI8fSFV1ccsUSrrh2OV09+abAT+X8VSLAAJVygyOHRji4d5DDh4bpP1ZheKBGrRZSr4ZEkUEpyBUydPfkWbG6h8uvWcaqC3pBjXlQUKOVnirlBi++cIRtzx/mwL5BhgaqhI2IIONTLGVZuKSDdRct4JIrltLZnWubnF4RSUE4j7HGojzF2osWsPmZ/VAIACdaYT3i6OER1l+26KR5znRw+pe/f5D77t5Gox4RhTHKU3haobROrAD3fucuMzz5yEt892vPsWhJB697y6XcdvsGMlnvtINd+rdD+4e4584t7N3txLj/WIVqpUEcu9Cs1HJRjHU1phafQStFZ3eeq1++ip9++5WsXNMzLaFMPzMyVOPOr2/mR3dv5fDBYfdw4Y1aU4xxE971jU109eR52SvXcOW1K9Cenrbr06XiujZsf/4w3/jSMzz3xF5GRuqJxaXRWifudXf8557ax93f2kzvgiKveM1a3vLzV9K7oDip80/7f+umQ/z4vhfZt2eQg/sHGeyvUq9FmNg4927T+hudmzeJW9xaSz6f4fKrl3HHuzay9qIFzf1u23yYe+7awqYn93Hk0EjzPtLJvtJCGK6tmt4FRW685UJ+5heuStKXWiuUIpKCMA/o7ikwNuxIKUVsLPV6CIA9Id83dbkN9FeplOt0dedPjhc6hbCSDKAD/RX+1//4MU/+ZA8f+ONb6e6dON3EGlAebH76AP/6qYfp6smjtcYPNIViJtmnGndIlbZ57AtAoxFx3/e28Mj9O/iFX3s5t73t8ikNsia2aE/x7OP7+PQnHmD/3gHyhYBiKdOc8x3bh2P7q16L+P63n+f+728jyHhNN/ZUxve0rVFk+PJnHuc7X32WMIzJFzJ0duVHXZBKje+DpN8r5Qbf+sozPHTPi/zKb97Aja+78IxCmfb/Pd/dwje+/DQ9vYWmm9Wd95jzTM89aWvzHzihe+Inu3n2ib385u/dxCVXLOHzn3qYJx7eQxjGZHM++UKAUpmTznl0p1AeqfPVLzzBE8m9s3JNT0uFsvUiqezodi6xEhYmzB+UUlOLzE2+jqvX9vLIAztBKaKGc6/GkcXYMZWAlKsbm8l6KJz4+r5HT1+BTU8f4G8+fDd/9JE3kS8EpxUNP9B0ducolDLE0WhAh/bUuEAPYxIxIQlkSqwqE7uBtKMzSxxbPv2J+6mUG/zsr1wzKYsqPda9d27hn/72frTWdPXkMUmgifZcDH4cuSAhLKPzob7CDzxKgW5aRVMlFYJaNeITf/4DHn1wJ53dOTI5f1xASxgZ4jBurvLi+xov0Bjj+qOzK0+1GvJ3f/kD9u8d4O3vue7055+8nM37dHblyBcC4uR4xlq0ckJqkupP7jq4e8pL5hHTXNxiR5aoEfPpv3uATMZnaLBKseQK8IMT9Sg24/oo7b80WMvzFD29Bfbt6eejf3IXf/a3b21pTm9r8yQtmEaAacQo79wWE9B+1Pp4fkE4RwwOVMd9vay1eJ4mm03cryd8GVLLsqevyPBQHe05q27h4gI9vXnypQy5XIBSzno5fGCYvbv7McY2002iyNLVneP55w7w5c89xrve94ozuF1dVO5YQbDWMjLUcG3N+WSzAUHGI5PxieOYaiVkZLhOHBsKRWf1xIlYdvbk+dLnHmP1ul42vmL1aYUi/dujD+7iUx/7Ebl8gNaKODSJmxHKw/WmcHZ05PADj0rF1codGXKu0HzBtWE6QSdKuWCrT/z593nsx7vp6SsQRQYbu7ZVKyHWWnoXFOlbUCKT8ygPNzh6ZISh/iqZXNovBs/TdHTl+PLnHkN7ijveuXESFmXiPm7OBbpCFuVqRCbjClj4gUc26+P7mno9YnioTmWkTr6YQWtXuCKdCw/DiFJHFnABWZVyAwXkSxkKpQzZrLtPyiN1hodqBIE7RprTW+rIcnD/IJ//5MP8zodumXJ/zhQtFUkdxHRf/zxxrYLSHudEJRXYSDH8zFpsGJx7C1YQziFpxOVLO4/jeaP1+6y1ZDIei5Z0JG8c/7m0qtDqtX387C9fw8YbVrN8VTddvYWk2Pp44tjw4gtH+LfPPsamp/dTLGaag11HZ4777t7KbbdvYNHSjklbBGkU7s+/6zrWXNhHZ1eOUmeOTNbDS+b8yiN1Du4d5NGHdnHfXVuJjcEP3ByoVs7K+vLnHueq61biB5oTvMrN42itOHp4hH/+uwearlKTzOdGYYyJLa++9SJuev16Vq3tdcXnPU3YiBg4XmXb5kP8+L4dPPP4Xoyx5PLBlIQyFbAv/vMjPPrQLnp6nUCmbtTySJ0rrl3BG2/fwPrLF1HqyKGUs2oHjld46tG9fPsrz7J/7wDFjkzTsuvszvOVzz3O6gv6eNmNayY9R6uUIgxjFi/t5G2/dDV9C0t0duUodmSb/ROFhmNHyjzywE7u/NpzhFGM73tjUoTcw0K1EpLLBdx4y4Vc96o1rLqgl87uHEFynYaH6mx//jDf+vIz7Nx+lMKYe6fUkePRB3eybfMh1l+2uCU1h1sjksk5Ks9QXH8QGw6D8jknIqktpuYzsmkNpqFQIpLCeUpqUezcdpStzx8il0S2phZCd2+BpSu6gJOjT9MIzbUXL2DtxQvG7ziJvGy+F+cyu+jyxXzoI2/i7//ihzx8/47mYOd5mqHBKo8/vJs3vm1DM5jodKTzcvlChtfedjGFUuaUrtp8IaBvYZEN1y7nFa9Zx8f/6/epVhr4vocxlmzeZ9eLR3nsoV3c8Jq1ifvwBKs52e+XP/c4x4+W6ezKN+veho2YYinDb33wtVy5cflJAu/lA5YsD1iyvJNXv349Wzcd4v985lG2bzk8TjBORzrwb3pqP9/92iY6u/NOIJO+rVUjfum91/PWd1x10mc9X9O7sMStb76EV968jv/58R/x4/t2UCy5vkdBkPX43//0Ey69aimlpI7vmZ5RlIKwEbNoSQevumWCec08FDsyrF7XyxXXLuOvP3w3URSPmYt1QvuyV13AL/zay1i2suuUx87lMyxa0sHGV67mYx++m2ef3Eu+kGkes16PeejeF1l/2eIz9uVs0No8SQum4WPqwbnbagGmESR6LAIpnD+k80VpUrbnaaLI8IV/eoR6LWoOclpr6rWIK65dTiEZTE83aI4msY8P60+3VFDjxC347ve/ggWLSoRh3LQmtNa88OxB9/FJzispRl2w7vzSObGxm8UaZ1FdcsUSfvX9rySOxmT1J01+9KHdp+6zZCDe/eJxfnL/ToqlbCKQbg4uk/H4T//lDVy5cbnL4TRp9Omp+/yiyxfzG793E5mMjzFmUkE7aX9849+edp9JXtdaUR5p8PZ3X8db33HVaQo1uNfzxYDf+dCtbLxhNeVyw4mVsWSzAftfGuCur29K2jzJcU+lbvfRXMcT+x8LUWi45IqlvPUdV7nFwJP7wQltxA03XcCylV3OddycWx6zD1wlqGzW59c+cCOdXflmiokxliDjsXXTYaxpzcLhrRVJxfjAnXO6tfTMBWFqJOOaSeeNxmxjVwtpJnh7imOHR/jrP72L557a15wndPsw5HIBr//pS4EzfxVGK/qc/p2e51Ye6e4t8PIbL6BejVDaDYS+rzm0f8gF10xxoNPNQVePq/KTnq/23PJgxlhueM1aLrpsCbVq2LRogozPrm1HadRHrZwTupX7v7+NSrnezNNUys0B/twvX8uFly4ijkwzqV6p0U4b24bUte0l/TUZ0geUF549yKan9pMvjlpQlXKDq65bwe2/dHVzxZbm8ceQHj/d16/+9ivpTdy1qdBk8wEP/GA7tWp0xuIRYzsnnaseLSRwQv9rhee797z6devpW1gkaphmH1njopbTfaTFAk68hp6viWPD4qUdXHvDamrVMLnfLIGvOXp4mOPHyq5Z57jIgFTcEYS5QDIwjrXgxlpy6fzU8aMVnn1iH5/5+wf5o/d/jacf29t0e4ITq8GBGre9bQNrLlzgBtYZfDpPhfTiDUvcfhNLQXuKkeE6I8N1YJYGumSX11y/sjmflwYoDfRXOHp4OHmfbb5fa+fWffaJvWSyfrPCTqMRsWJVD6990yUAaG92h8qf3L+TsBGPy//0PM3P/MLVzVM7k1WqtXtIWbC4xOvechnVSgOVVMHJZDwO7Bvkmcf3Jvufuf5Pqxz19BVYd/Ei6o0oySN17uCD+wab7TvTfgCuuHb5uH7QnqJSCRk4Xmm+di5pfQqIIAgTYi1ksj67XzzG5/7xIcJw1IXXjD4cCamU6wwP1ug/XmFosEYcudy6VCBTa6P/eIUbb7mQt79nIzB199Woq+wUwTd2dH5twaJSM1IxLXFWr0VJXmZuBnrmFCTNufDiRfjBaDK/9hTVakj/sQrLVnY3Y3fSc9i/Z4BDB4aagSTaU9RrMdfcsMpZ4Enu5IyTiHQcGTY/vZ8g67mcRa2oV0PWXbyQy65a6s5hktcpfd8rbl7Ld776LFHkXN5pFZxnH9/Ly29cM/OnYi0KxaoLevnJj3Y0S8t5yT0XhWbCwKkTWbKsk1xu1POhlAue6j9agYtnvOlnRERSENoYay1BoDl8cJhvf/W5U1oTzsUKntZ4vk4StgNskkrheZpGPaI6FHLrmy7lvR+4sRkdOpk5szQ3UWvGVNk59QdTl2MuF+D7XjMAZnQSbzq9MDnSc+lZUCCfD5JUENdSE1sGj1fHvT+pfcCeHcepVkJKHVk3MFvnMr3syqXJjmenvRYnLIcODHHk4PCoSGsX8LLhmuVObKYg0umDy9IVXay6oJcXnjvo8lMN+BmPnduONo8xG/T2FZxlmSxgp7SiVg2plBuu1Fxyzqduu/vZ3Vsglw+oVkMXkZ24jCtl54U416EkIpKC0Oa4OT2Pzq6Jv64Wm6xCYcfUS3U1UOv1OkuXd/Hr79zIa96wfkwy+JmPbYyLBvU8144jB0d4addxDh0Yov9ohZHhOmEjIpMN6OrOs2BxkQvWL6Beizj3gXHuhEodWfKFDEODVXxfN92u1YqrLnRisw4dGBpjGVvi2FIoZliyPI38nZ3Wptfg4L4harWwGdHpLEzNBesXjD2tSZNa86su6GXT0/ubEVC+rzl2pMzQQC2p7zqDyfnJfkpdOSfoqRWvFY2Gy2ft7D6TB8HtI1cICLIuB9XNijqrtFaPgJOrQ802IpKCMAcwxhCFE4tOWnlmtAqOIopiVq/r4+Y3XMQNr1lLR1eu6XqdtEBqxchQnQd+sI1HHtzFnh3HKY80iKP4pLnMdJ4rm3UFq0eF+NyKZSbrE2S8pC9Us20nleBLmn/8aKUZhZvO7XZ2FejpKyR7nJ0B2fWX4viRMlE0GkxorCWT9elbWDqr/S5d2eWuN6pZLL1WCxnsr9LVk5+U63OqFIoZFxg0rkFMaSLR9zW5bMCAqcx8A6eBiKQgtDnO5epT6A5OOdZorSiXG9RrYTM3TykXmt/TW+B1P31Zs2zbZN12aWrEAz/Yzr/9y6Mc2j+En1S6KRQDlM6MEdrx+zSxcdGJiYieK4lM2xNkvGROcuyRJ47ObdTDsVVtMdYm1WWSSNfZanBCvR425/RST0Am45HPp8Xop7a/1J1ZKGSay1e5/SjCRkStmj4szPy5NV2pJ170yaTCzHBbZgoRSUFoY7RWjAw3uObmVXzgj2+lkuS/pVhrCTI++/cM8Jd/+B0qYxLp88WAh3+0g8/994d4z/tfOelRyFo3l/Tlzz7Olz73GPliQGd3flw+ZaMeu0o0Y/InUwvVDzS+f46Kg8wAYWjG900SWXpi0YGZJhWU8kg4LhjLGBcVmsme5fB8UvOdLLZ66am5hoikIMwBUgswrSk6FmMsq9b28hu/92o+9md3u3k4nOXY1ZPnzq9vYv0li3jVrWdeESL9+93f2My/fe5RN3dlXPWe1F0XR5a+hUUWLemgsztPsZhpBmiMDNc5dqTMscMjk0pbaAdOKrOn3Pkaa/Fm8bip2zdfHPUQpC7qODKEYXxW+z85QCaxVM91DsUcR0RSEOYQo1VKRkmLem98xWrueOdGvviZR+jocqtXWAvZnM9n//tDrL6wjxWre5qJ6Sfv2wlk/7EK//6vT7h5RTP6eqXcYO1FC3nr26/i8quXUezMnjQMp217/Me7+Ye/use1j/a2KTNZf0yfukClei0iDo2LOGV2XYHZrD/uYSIt55YGGk02yColFd9qteGutRoVR89zLnNh8kgxAUGYQ5xcccZtnufmnt72y9dw/Y1rGRmuJWkeFj/QjIzU+fTfPkAcmQmLB9ikmtuDP9zO8aPlcSkJlXKDV752HX/2t2/l+psuoNSZBXty9Z+0FNuyld3NNJO2nW1KhLF3YakZ6WmTBPiR4TpHD48k75sdiU/dnj29hea1giQitB7Rn1SYme5+D+4bgiQdI628k8v7dPXmk/fNwEnMA1oqknbMz6lugiCcml//wKtYsrSTes0Fz5jYUixm2fT0fv79808AnHK9w3TQfP7Zg8lyR2n1mZhlK7r59f94I35SPiz926kqAAGJFTs3vqlLl3eOC3BxDwV1du84DszeeJNq1OJlnWSTaj/pH+LYsGvbMffvKfZjKpJ7dh53JeOSB5U4MnT1Fujsyo17n3B6WiqSCvAAX019k8srCONJq5x09xb41d9+FcbQHOHj2NDRmeWbX3mGzU8faC4FNe7ziaD2Hy2j02IDGhpjiqGnK4tMOMCOSUFp9+9oWvhg9bq+0RzFMTz1yJ5ZboDrocXLOulbWCIKTbOcm+97bHpmf9LOyQ/TaWTz4YPD7H7xGNmM33wtDGPWrO1t1rkVJkdrLUkLIzEMRTA8lS2GCBFKQTgRnQjd1S9fyRvftoGRodq4ot0mNvzrpx6mUU9WBRkTMAJuIG00YsZ6ZC1uXcJ0H+cL6bksX9XNitU9NOqRe1Cwbj3IJx95if17Bpqracz88ZPi4zmfiy5fTKPhCsKnS3xte/4QWzcdar5vMqTve+yBXQz0V/DS8nzJZbti4wr3i2jkpGnJDG56zWpo/nfYRzXM4ymvuSzL6VAK6iH8XHaAdZmQum3/J1ZBOJekc453vOtann1iL/v2DDTrqOYLGbZvOczXv/g0b3/Pxub6iul3yA/0mET8UQb6W1NcerZJc0evv/ECtmw6SL6QIU7WwBwZrvGVzz/O73zo1uayULP1jHDDTWu573tbRyvVKEW1HvOtrzzL71++GOyZA3hsunbnQI27vrGJXM6Vo1MKokbMgsUdXHWdE8mZLGp/vtPypbKiXG5KW5zL0wgyxFYsSUE4FaNBGgHv+g+vaJZlA+d2LZayfOerz7Jz29FRK0mNrpjR2ZVrrqloDWQyHts2HyIKY7zEUj1fSF2ur379ehYs7iBsRM3+K5ayPHTvi3ztC0+hk8CoOJ44hWI0jWPy/ZPO4V513QouvGRhc4kvd/wMjz64k7u/sTlZCsuc0qJ0a26O5np+/pMPu4Lt2TTwSlOthrzqtevGVF2afB/Nd1q+6LKydkob1qKxbR9WLsw+ajrbFO+3U9+DLTndKZEOtJdfs4zXv/kyRoYbTberW5Ej5IuffhQYdTum0a2r1/Y1C5PbpPrMrheP8d2vbXLV3JJRw54iunW0sABz4ik2ncft6snzxts3UKmEzWWxjLEUShm+9NlH+fwnHyYKDZ6nmvmHaTrOaClA91Onc7aTvE9M8pDy1ndc3VxgGmi6ff/XJ3/MvXduGTcXnK7EklqXnqexBj7zdw9y/w+2Uixl3dqdSeBV38ISb7z98nHtFCaHpIAIc5YGUJ/KpqCR8c96mwuDP4yK3x3vupblK7uo16OmKBSKGZ5+/CXuvXNrc5WF9LyuuWFVM/0DRq3Sf/uXR/nU3/yIXduPuVSSU0S3psds1OMkR68lpz4lUmvuzT93BVduXMHwYA0vKchgDeQLGb71lWf40G9/nbu+sZmD+waTIJvRFByAWiXi2JERNj99gDCMk7UcJ3d8ay3XvXI1N7/hIoYGa64gRCKAvu/xqY/fzz/8t3vYsfUIUZiuO+kqHFUrIU88vIf/8vvf4Hvf3OQE0qSRulCrNHjHe66jZ0GxWbtXmDySVSrMOVIvwgXG0qPcTTyZh3YVGrJbDqM8PS1r0FqLn/HxmpVQzu1qBFOl6TbsyPJz79zIP/zVD8kk843WuiT6r3/xSa575WpKndmmZXLpFUu45vrVPPLADrq6824BYyCT9fjhnS/w4A+3s3RFFwuXdNDRmW9ajXFkqJbd2pZHDo9gWlTgfDqk60j+1gdv5s//4Nsc2D9IR0eWKHKpLKXOLAf2DfDPn3iAjs4sfQuKdHTlmrmVtWpIpdJgaKBGrdogyPhTfEBwb373+1/J3j39bHv+MJ1dOaLIoDTk8wEP/HAbP3lgJ0uWdbJwcQdBxqdaaXBo/yCHDg7jaUWxI7UgnUU7cKzCW+64kptvu7hZj1eYGiKSwpzEAFcbOzVXSGwx249O74DKfV7lAjKhab7U7ujEmrnx1gt54AfbePqxvc2FmLNZn/17B7jza89xx7s3Jq47J/zvft8N7N5xjCOHhunoyDbn4kodWayx7HtpgN07j58U9am0cktr+bpZHi+tJ6C1altfX2ph9y0s8v/8tzfy8f/3brZvOeJyCpUL8MlkPHK5gCgy7N83iNkzMPr5xJL2PEU2F4zOSyoXhKO906+8opI54Xwh4Pf/9PV87M/uZsvmQ3R157B2dI7UWsuBfYPs3d2flP1TBL6mWMwArp2e53JZB45VuO32Dbz7/a9I0nnas+/bHXG3CnOWBlCb4jYT7lY724WvtTp5O4tjpgP2He/c6CJXk2NYLIVSlh9+9wX6j1aaVoY1loVLOvjDv7iNC9b10X+8ShjGzb8rrcjlAkqlLB1duebW2ZWjoyNLsZQhm/OT5btUc9Hjei08bSqFmuDcp/M04haintp+0nncRUs7+JO/fgs/9TOXU69FlIfrzaLvFuuEMOuTLwbNLZcPyGQ8N2+oaZ67NVCvR4wM1YnOUItVKRdE1buwyB995E3c8sZLGBmuU01XVFHuPdmsT6GUoVTKUigGBBlvtAOB4aEaxlje8/5X8t7fvXHsn87Uaafo/8l8cOw+TnUNp7gPJvgOTH03M4JYksKcZVpfmrPJYUgDd2bBfZg6bi1Qr0XUyiEmsigNtXJI2IhH3zhF0sH/wksX8epb1/Odrz7bnLfyPM2+IwPc+fXn+MX3vhxr3ABvjWX5qm4+/LGf5s6vb+JH39vKwf1Dzv2XBIqMX41kfCDP2GNnc75bxHhpF9ncxENOHFtq5RDfd0EoURhTL4TTumZj+1BrRa3cIE48AGfqK2st+XzAez9wIze9fj3f+ffneO7JfQwN1prn7nknWMXWYoxb9zMNvvE8RaGUZfGyTlbd1MuKNT3A6Y1plR6/EPC+P3gNN9y0lm986Wm2bj5E2IjxPI0fjPa9szINUWhcZaWODDfeciE/84tXs+qC3tE5yNN9WZLujRox1aT/sVCrhDRqUyuybmJLtRwmKTPuXogD2wwKOx1jJy/q1ZBqxRXTT69f6vY/1yjbgtpRFrd2Wrk2zF9+9feoNipTyJNU1OoxP6+OsD47jTxJZTENnyPfuY64mkXpKZZ88jThwAhr/sNbWPGLN2Nj4+a4hEmRFtcefGgX2z/0TfzEfdf2jHG3Xvqpd5BZWJp65elJYK1ly7OHmusxKgVRZOhdUGTNhX3TPmT6ucH+Kju2HEU3y5XRTDe46PLFJ7UFku9cNWLr5oO8+MIR9u7uZ+B4lWql4d5jwQs0uXyGQjFwVmVnnt4FBXoXFuntK9K3qEipI3fK9SzTth0/WmbX9mNOJO3oMmCXbFjcDKSZ3Mm60nr1sX0YGlZc0MOiJR2T6sP0+KkYHT4wzHNP7uPFLUc4uH+I4YEqjcaogASJK7bUmaOnL8+S5V2sWN3D8lXd9C0qNV3Pkz6FRGRU8oCzbfNhnnxkDzu2HuHY4RFq1ajZvkIpy5JlnVx0+WKuvX4Vy1Z1A6MrukzmWErBS7v6OXJwuNnWKDJ09eRZd/HCM06/p/sYHqyx/YUj446rlOLiDYtP+4A0bl/G8sJzh1xZxWT5tTA0rFrby8LFpdn42p0WsSQFoY1QSnHJlUtO8/fp7tf97OzOc80NKyfdlnQ+LJf3uXLjCq5MK7bAuHxJpaY/55W2rXdBkd4FxWntY/wO4dKz7EOlRucpARYt7eCWpZdwy5suAVyQUhyPWjZaazxfT7jv1KKb7PVzwVCq+bmLNyzm4g3uISYKYyrlkDi2BIGmUMyMe/gYjWyd3MHSNq1c08PKxNo9+U2T20dHV45rrp/c/TXhvrQ66+s3k4hICkKbMVHx8ZkK3Z+oxNmpBtX0uKlllVoUWqsJrMJTuNbSVAlO7/ZrHmMS7ToTM9WHo27N0fPSngtMOpV1ay2jnpEx5z3dqNJmwXjj+l5phR94dHaPX+nSGtssPzfdY6XRzWOZap/N1DU89fWb/EPGTCIiKQhtxmyG6U9XbCf7OaUUaporFc/kg8BM9+GpzmusFqTNVgrUKR4ezpZx52MZNzWlmJnAlpkQoZm6hu2UqiIiKQiCMA1als2SWuXCOUEiTgRBEARhAkQkBUEQBGECRCQFQRAEYQJEJAVBEARhAkQkBUEQBGECWr7o8twoEy0IgiDMR1psSYpACoIgCO1LS0UyqbwkCIIgCG1JG8xJqrNbmUEQBEEQZomWu1ulcoQgCILQrrTW3dq+C5ULgiAIQjvUblWzsISt0O5YwCTbTFx/rWb5LlKAsm4TBGHe0FKRVCi0aoNpUeGc4ysoKdCKsw9ytopqGMzuw1ay6DJeAFbcH4IwX2itSCqVLKti3SAkD+nnP8k1PmwsdzYM2YYZXX9vGjuz1sPPDfGKy7ZS9GDauzojCqxBZTKozFuAGVgcWBCEtqe17lYlluR8wwAecNDAV0NDR2gmXAT4TCgssdFk/YiXL91FLhsR2tkKBVNgY1SQQ3nRrBxBEIT2oyUimQ5iWmm09iQDZB6RXnsP524tKjDTVDUFxMqSRUGYwWqNnTVXqBNJyMzS/gVBaEdaZEm6gUwpjac9xM86/xgbuGOmuQ819vPnJKhGAncEYb7RUnerVhpP+9iWiKRKIhan/jHJW5mnWFDaQ2mv1S0RBOEc0XKR9L0Aay2Tj9xJ3mNtsk31qBZlLSqOUZFB6antQFlQUYyavQgRoR1RuIc5LwDdBplTgiCcE1r2bbfWopQi6+fc70xN75SvUYGHmmKghlKW2Ho0OvJEfg6lp+bsU54mNIYoKwPlvMMatJ9F+cm8pDgUBOG8p3UiiUWhyGXyU3a3Kk/Rfe0yFi7UVMMk125Sx1R4xFRsgXs23k7DFlHETGW000pRjSK6ly1mNWC1FNabN1iL8jMoLw3ekSsvCOc7LTeH8pli4m6dPArQGR+d9dDaTkkkNQptfazNYcnBFEXSKoWNY2ym5V0nnFNcnqTOFmROUhDmES0f6QvZEtOKbm3OSU71s8lnYgs2jY2cgkWgFERmNrPWhTbFWoPOltJ/SACXIMwDWiiSTmQ6cp3Jb+d4wJnu4RTTi4oV5jbKLenmFbqTF9JgM0EQzmdaWO7GDTCdxR601KQT2hwFYA1eqQ9gylMEgiDMTVrubu3M9+B5rcqVPHssc0vep18ndWYwxqI9NedExgIohd+xoNVNEQThHNIykUxjQrsLvWT8HNZOLYCmlVhsYv3OPc+rmmyU02yRaKPnzaVeI5mD9PA7FwEkhfkFQTjfaZ0lmYwxHfluSrkOBsrHxhQWaF+stWS0ZtvICMcbDeIkx7PtsaB9zaYH93L8YBk/0JOPedIK/0gFr9yYfL7NRM2wEASaw4eGyWb9tr/eTaxBZ/IEXUtb3RJBEM4hLbck85kCPcUFHBs+jO9laHfnpcXlSh6t1zlYq7W6OZPGWggymnuf2cveLf1kcpMUKAvWV+R2DRD0V7C+PutLZC34gSafD+ZGcXulsHGIX+rDL6Xu1jnxaCQIwlnS0jlJYw1aaRZ1L2PL/mfnVPiOrxR+q12XU8Ba8D1NRz5DdylDMFkrzoL1FJnOLEHy+0xcJGtty+dHJ4/CxhF+1xJ0riN5ae5ce0EQpk+LA3fcILmibw1zRx4dtvm/uUGaUhobS2ws2tjJi6QCE1tMZLDMjEjOJZRSEEdkF651L5gYpKCAIMwLWrricepyXdG3loyfnTvzU8K8wuIKB2SXXtzqpgiCcI5pqUimLqsl3SvoKS4gMqFEDQrthzHoXJHskkQk5R4VhHlDyy1Jay25IM+KBWsJ4xApFy60FUphowZBz0oyvauS11r7bCkIwrmj5d/2tIjA+qWXY+1016gXhNlBKY2NGuRXXunmIU3c6iYJgnAOablIppbjxcuuoJjtILYyCAntg7UWPJ/CuuvdC+JqFYR5RetFUjmX66KuZVy49DIaYQ0t7iyhHVAKG9bJLlxDfuXVzdcEQZg/tIUapS7X6y96LZKkLbQLztVap3TprSg/k7ha5f4UhPlEW4hkajluWLmRlQvWUg9rEuUqtBhXZcfrXEjHFbclL7XF10UQhHNI23zrjTV42uemy99IbKLZj3JVONfZPNrSBw87jW2+obTG1Mt0bng9fsdCt0C3PLgJwryj5UtlpaTW5HXrXs39m+9k79GdZILc7ES8WiA0QJxs82Dws2C1RRuDZy2enULFHZvog1ZtJRQW5xId98AzE9dSKYwJ8bsX03XdHemLZ79fQRDmHG0jkuCsSV/73HbNHfzPuz8y4/tX1kJGwYGYlf98H1Z5zCc7SSnFmw6OUKuGk14yy6LImIgXupewbfVKMiaifdY9sVgCvNgnv66LQqcljM5ex5XyMI0hOi57J37HosSKbBuniyAI55C2EkmtNNZarlj1Mq5d+yoe234/xVwHZqZz02JLpr+MnW8Dn4KORp1cbFCTNNCtUmSjkJwHKpdBRwrbNtakxaoA3fDQGQ+ddamMZ9U8pbFRleySyyhd+Jbma4IgzE/aSiTHcvvLfoUXD2ymXB/B92Z43UGlsL437yxJFMRKEanJLxpslcJTGmNxFlVb1ddNfMGWMT/PdpcxCk3HRe8CFYgVKQjznLb79iulMNbQU1rI2254N1HcYMbng5qD6jzccAUc0tm7qWznPcrDhCMU172NoOdSEUhBENpPJCF1uxo2rr2Rmze8hZHaEJ4sTSTMJsrDhsPkFr+M4rqfT15ry6+HIAjnkLYdBVQyQN3+8ndxxarrGKkNO6G0ME/sGuFckcxD+qUVdG54P8yp5b8FQZhN2lYkwdXN9LTHu1/7AVYtXEelXsbTXrNCjyCcNUpj4zo6U6Lr6v8bnelyblZ5EBMEgTYXSVfX1VDMdvAbr/sgi7qXUWmU8bWPPOkLZ43SWNNA+zm6r/kgfmmVzEMKgjCOth8NVDI/2VtayG/91B+zpGcF5fowWrVtYK4wF1AeNq6hvRzd1/4hQffFYGMRSEEQxjEnRoRUKPs6FvEf3/hh1i25jFo42Jy3FIQpoTxsOIKXW0DPy/6UoPuSRCAlOEwQhPHMGZVJhbIj38P7fuqPWbX4ZhrhUJI4PmdOQ2glSek60xgk03c5vdf/V/yOCxIXqwikIAgnM6d8lkppLJZSNota/D6i8lrM8JfANkDlAYPMVQqnRHnYuA42orj2dkrrfxmlfZmDFAThtMwpkQSXCG+xWGvwiz+FzlxMOPg5bGML6DzulGahKLowN1EarME0hvBLy+m89FfJLLg2iWC1IpCCIJyWOSeSkJZUU4BBB2vI9v0RceX7RCPfxsb9iVimJefEspx/qKY42nAE5ecprX0bxbU/iwqKY5a9kjQPQRBOz5wUyVE0zhrw8YpvROeuJy5/h6jyANYMoXQOCJL3imCe3yRLZWkFJsRGZZSXI7fsJopr3+bSO7DiXhUEYUrMcZGE0eooBuX14Hf+Cl7xDcTle4hrD2Pjw+49Kos7XTtm7UERzbmKUonrXStU7LwKNqpjwxid6yG37NUUVv2UC8yBUetRBFIQhClwHogkjJbgTsVyEX7nO/BLbyauP0VcewIbvoiN+rE2hDiPjWLw/WRdxdTtZtP/kn+KiLaK0UVKXDH2sZ5RYyxRZImimNBYMnED5WXJ9l1Crncj+SXXo7O97s1p9RwRR0EQpsF5IpIpY8XSgi7h5W/Ey9+INcOYxk6w2/A7XiLbm6U2WCWq1CF2VobSCqU16OT31OJUJw/UE85ntfM0lwLladRU1lxUCmU12lN4SuHp6a0nedrHjeaDiW2ueGVii7EWY0Y3C2ilyGY8OjuyLF1UZM3KXi5ZcxUXXPSzBPm+MftMjijiKAjCWaDsjC7U2G6MnYccP1jG1QaVI4NUD/VTOXSc6uFB6v3DNIYqROUacSMkroeYMMbGBmtMMpiPWb8wPYadI45bBcP9VRqNeErrSWajkCcWr+aZhcvJRuGURFKd+NSgRp8j3ENI8mijFFopPE/h+5pM4JHNeBTyAZ2lLL3deRb2FliysMjihSUW9xUoFTMnNNZ5EpwwtvPTiiAIc4XzXCTHMlYwJ45stNY6cayFRHUnlHG17n6GETaKMdGocNrYrdNobfqTcWs3thUKGvUIE9lJa4gFfGs4VOjkaL6Eb82kHwhUYoErpRg1yhVaO4vU0xrfd1vgazIZj0IuIJv1yGV8clmfbMZD64muFc3FuLVOTlAQBGEGmUcieTL2BDFruleFtmKsGKakwisIgjCbzGuRnBDr/mfH/XvcL6d4//mNVWrGTvO02tZ0xyb/FyEUBKGFiEgKgiAIwgRI6J8gCIIgTICIpCAIgiBMgIikIAiCIEyAiKQgCIIgTICIpCAIgiBMgIikIAiCIEyAiKQgCIIgTICIpCAIgiBMgIikIAiCIEyAiKQgCIIgTICIpCAIgiBMgIikIAiCIEyAiKQgCIIgTICIpCAIgiBMgIikIAiCIEyAiKQgCIIgTICIpCAIgiBMgIikIAiCIEyAiKQgCIIgTICIpCAIgiBMwP8PWuvmoVRceqEAAAAASUVORK5CYII="
                }
            }


+ Response 200 (application/json)

    + Body

            {
              "data": {
                "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                "legalName": "Test Company",
                "profile": {
                  "brandName": {
                    "en": "My english brand name",
                    "ru": "Мое русское брендовое имя!"
                  },
                  "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f0455407416.png",
                  "links": [
                    {
                      "name": "facebook",
                      "value": "http://facebook.com"
                    }
                  ],
                  "email": "admin@jincor.com",
                  "phone": "+7999229393",
                  "address": {
                    "country": {
                      "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                      "name": "Russia"
                    },
                    "city": null,
                    "formattedAddress": "Москва, ул. Алая, д. 15, оф. 89, 602030"
                  }
                },
                "economicalActivityTypes": [
                  {
                    "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                    "name": "Forestry & Logging",
                    "code": "AD"
                  },
                  {
                    "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                    "name": "Oil Refining & Natural Gas Processing",
                    "code": "CG"
                  }
                ],
                "companyType": {
                  "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                  "name": "Public Company",
                  "code": "BT2"
                },
                "employeesCount": 2
              }
            }

+ Response 422 (application/json)

    + Body

            {
              "message": "422 Unprocessable Entity",
              "errors": {
                "profile.email": [
                  "The email must be a valid email address."
                ]
              },
              "status_code":422
            }


## Concrete company [/company/{id}]


### Get details of the company [GET]

+ Parameters

    + id (string, required)
      Id of an existing  company


+ Response 200 (application/json)

    + Body

            {
              "data": {
                "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                "legalName": "Test Company",
                "profile": {
                  "brandName": {
                    "en": "My english brand name",
                    "ru": "Русское название"
                  },
                  "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f05129ba5cd.png",
                  "links": [
                    {
                      "name": "facebook",
                      "value": "http://facebook.com"
                    }
                  ],
                  "email": "admin@jincor.com",
                  "phone": "+7999229393",
                  "address": {
                    "country": {
                      "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                      "name": "Russia"
                    },
                    "city": null,
                    "formattedAddress": "Пироговый переулок, 5, оф. 15"
                  }
                },
                "economicalActivityTypes": [
                  {
                    "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                    "name": "Forestry & Logging",
                    "code": "AD"
                  },
                  {
                    "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                    "name": "Oil Refining & Natural Gas Processing",
                    "code": "CG"
                  }
                ],
                "companyType": {
                  "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                  "name": "Public Company",
                  "code": "BT2"
                },
                "employeesCount": 2
              }


## Search company [/company/search{?activity}{?country}{?request}]


### Search company by criteria [GET]

+ Parameters

    + activity (string, optional)
      Economical activity type to find exact matchings
    + country (string, optional)
      Region to find exact matching
    + request (string, required)
      Text of your request

+ Response 200 (application/json)

    + Body

            {
              "data": [
                {
                  "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                  "legalName": "Test Company",
                  "profile": {
                    "brandName":  {
                      "en": "My english brand name",
                      "ru": "Русское название"
                    },
                    "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f05129ba5cd.png",
                    "links": [
                      {
                        "name": "facebook",
                        "value": "http://facebook.com"
                      }
                    ],
                    "email": "admin@jincor.com",
                    "phone": "+7999229393",
                    "address": {
                      "country": {
                        "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                        "name": "Russia"
                      },
                      "city": null,
                      "formattedAddress": "Пироговый переулок, 5, оф. 15"
                    }
                  },
                  "economicalActivityTypes": [
                    {
                      "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                      "name": "Forestry & Logging",
                      "code": "AD"
                    },
                    {
                      "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                      "name": "Oil Refining & Natural Gas Processing",
                      "code": "CG"
                    }
                  ],
                  "companyType": {
                    "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                    "name": "Public Company",
                    "code": "BT2"
                  },
                  "employeesCount": 2
                },
                {
                  "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                  "legalName": "Test Company",
                  "profile": {
                    "brandName": {
                      "en": "My english brand name",
                      "ru": "Русское название"
                    },
                    "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f05129ba5cd.png",
                    "links": [
                      {
                        "name": "facebook",
                        "value": "http://facebook.com"
                      }
                    ],
                    "email": "admin@jincor.com",
                    "phone": "+7999229393",
                    "address": {
                      "country": {
                        "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                        "name": "Russia"
                      },
                      "city": null,
                      "formattedAddress": "Пироговый переулок, 5, оф. 15"
                    }
                  },
                  "economicalActivityTypes": [
                    {
                      "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                      "name": "Forestry & Logging",
                      "code": "AD"
                    },
                    {
                      "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                      "name": "Oil Refining & Natural Gas Processing",
                      "code": "CG"
                    }
                  ],
                  "companyType": {
                    "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                    "name": "Public Company",
                    "code": "BT2"
                  },
                  "employeesCount": 2
                }
              ],
              "meta": {
                "pagination": {
                  "total": 96,
                  "count": 20,
                  "perPage": 20,
                  "currentPage": 1,
                  "lastPage": 5,
                  "prevPageUrl": "http:/company/api/v1/company/search?country=id&query=hello&page=0",
                  "nextPageUrl": "http:/company/api/v1/company/search?country=id&query=hello&page=2",
                  "from": 21,
                  "to": 40
                }
              }
            }



## Invite Employees [/company/invite]

### Invite users to the company [POST]
**You MUST be authenticated AND authorized to perform this action**
Invite users by email to the company. Note that each invitation is almost like
verification of email except the first step when we send code. Think about this action like
about calling `/employee/verifyEmail/{verificationId}/{email}` multiple times for each
email.
The `verificationId` request param is `verificationId` if the user who is trying to send this invitations.

+ Request (application/json)

            {
                 "emails": [
                    "test@test.com",
                    "test2@test.com"
                ]
            }

+ Response 200 (application/json)

    + Body

            {
              "data": [
                {
                    "status": "ok",
                    "verification": {
                      "id": "11f43465-d042-4db0-8aa9-13bac482bb59",
                      "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
                      "email": {
                        "value": "test@test.com",
                        "isVerified": true
                      },
                      "phone": {
                        "value": null,
                        "isVerified": false
                      }
                    }
                },
                {
                    "status": "error",
                    "email": "invalid email",
                    "message": "The given data failed to pass validation."
                }
              ]
            }



# Group Employees

## Colleagues [/employee/colleagues]

### Get the list of employee's colleagues [GET]

Get the list of colleagues of this employee.
The result doesnt contains employee who performed request.

+ Response 200 (application/json)

            {
              "data": {
                "self": {
                    "id": "3e696895-ab1b-44ec-8646-86067877e38c",
                    "profile": {
                      "name": "Admin Company 2",
                      "firstName": "Admin",
                      "lastName": "Company 2",
                      "position": "Admin",
                      "role": "company-admin",
                      "avatar": null
                    },
                    "contacts": {
                      "email": "admin@company2.com",
                      "phone": null
                    },
                    "meta": {
                      "status": "active",
                      "registeredAt": "2017-06-13T05:57:21+0000"
                    }
                  }
                },
                "active": [
                  {
                    "id": "ed44f477-067b-4af7-ae35-05513e71b6eb",
                    "profile": {
                      "name": "David Totraev",
                      "position": "Frontend wizard",
                      "role": "admin", //admin, employee
                      "avatar": null
                    },
                    "contacts": {
                      "email": "degtyaruk.a@yandex.ru",
                      "phone": null
                    },
                    "meta": {
                      "status": "active",
                      "registeredAt": "2017-04-14T01:34:28+0000"
                    }
                  }
                ],
                "deleted": [
                  {
                    "id": "3d7563a2-cdc9-4877-a322-a3c3edd5ad24",
                    "profile": {
                      "name": "David Totraev",
                      "position": "Frontend wizard",
                      "role": "employee",
                      "avatar": null
                    },
                    "contacts": {
                      "email": "hlogeon1@gmail.com",
                      "phone": null
                    },
                    "meta": {
                      "status": "deleted",
                      "registeredAt": "2017-04-20T03:21:01+0000",
                      "deletedAt": "2017-04-20T04:10:06+0000"
                    }
                  }
                ],
                "invited": []
              ]
            }

## My profile [/employee/me]

### Me [GET]
Get information about authenticated employee.

+ Response 200 (application/json)

    + Body

            {
              "data":
                {
                  "id": "aa51cb8e-1b3d-4569-a95a-00e5cfe1a6b8",
                  "profile": {
                    "name": "John Doe",
                    "position": "Tester",
                    "role": "admin", //admin, employee
                    "avatar": "http://i.imgur.com/n613Ki4.jpg"
                  },
                  "admin": true,
                  "contacts": {
                    "email": "john@doe.com",
                    "phone": null
                  },
                  "company": {
                      "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                      "legalName": "Test Company",
                      "profile": {
                        "brandName": {
                          "en": "My english brand name",
                          "ru": "Русское название"
                        },
                        "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f05129ba5cd.png",
                        "links": [
                          {
                            "name": "facebook",
                            "value": "http://facebook.com"
                          }
                        ],
                        "email": "admin@jincor.com",
                        "phone": "+7999229393",
                        "address": {
                          "country": {
                            "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                            "name": "Russia"
                          },
                          "city": null,
                          "formattedAddress": "Пироговый переулок, 5, оф. 15"
                        }
                      },
                      "economicalActivityTypes": [
                        {
                          "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                          "name": "Forestry & Logging",
                          "code": "AD"
                        },
                        {
                          "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                          "name": "Oil Refining & Natural Gas Processing",
                          "code": "CG"
                        }
                      ],
                      "companyType": {
                        "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                        "name": "Public Company",
                        "code": "BT2"
                      },
                      "employeesCount": 2
                  }
                }
            }


### Update [PUT]

+ Request (application/json)

            {
              "profile": {
                "firstName": "Test",
                "lastName": "Tester",
                "position": "Code monkey",
                "avatar": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAAELCAYAAAALJznDAAAAAXNSR0IArs4c6QAAKWdJREFUeAHtnQeYXMWV788NnbtnNIqjQSOUkEAjRBIStrDBgEleEbwWD39OROPnvGs/B+zdh9dr7+KAw/phRH6L8doSJohkYTAYLzaSECCQQFhpUBiN0qTO4d7aU90TO0/37Z5uzb++707fW+FU1e/2nK54iggOBEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABEAABGqUgFKj5apqsXbMXdSqOAVYVJX6+MpszsqV+5RbbjHHV60zazvu/8l2nXTa8YlEfBGj2ZWJBz4gYAUB4SBSovO3b3nbCmn1LEOv58JbUXYjHtc1m/63uW+/vt0KeZABAukEZAtaKMKX7j8en9XxWGnUGQRAYGwIQOGMDXfkCgLjkgAUzrh87ag0CIwNgXE/hpML+0mnfet4ncwW01SNXHHgDwLpBPg707N587/9Ld0fzykCUDg5vgmqSa123bEtlohA4eRgBO+RBEyvU4kHYsvYFwpnJJrBJyicQRRpN4opnE5XdNOmW/xpIXgEgawEzjhjlS2i7I1mDYRnkgDGcPBFAAEQqBoBKJyqoUZGIAACUDj4DoAACFSNABRO1VAjIxAAASgcfAdAAASqRgAKp2qokREIgAAUDr4DIAACVSMAhVM11MgIBEAACgffARAAgaoRgMKpGmpkBAIgAIWD7wAIgEDVCGAvldWon/qCgy75eYzuu2IGGQlvUvy8M7fTns2NFItNTT67JuwneyxOvaFZyWfT0UM3PXyAVq04kVRTIdMWo5se3Un3Xt6aU4bp7iC7J0qJw7OzylC0ON2wdscIGeZxO0jr9pEITUulSZOhar10/doOuueyBWQaKhUro7U5Qvt3zUnKTJehKwm69ontdNeHZxBFU1bv0suh2w7QtNawpTLsSh996on9dOel80lRNMpWjkb3ToqHPBSi5mTZB8rRuWcuee176Ko1gaQ//lhGAArHMpT9gjreXcj/5AfJpkUprqZsRh/eKkhzx8lMBJOxgn0JsjsNMtXUs8ZxpbPxc5wU0s1E8pnsETJZAUmXLsPlTJAzaFJ3LhmUKaOp2yR/NE5GfxopI2zn3fD9z4ojkszL1INkCpX0ImXsjbJx8H4Z9v66DMgwWeFIZ8ZZtppqUc9vEbSrc6gcmi9O+WSoIrVjP58Mjy0xQgbpqboozhDnrVI2GVPaTObK7yWSeg+DMpQodQfbuNTrk2XHHxCwisD2eYvm7jzp1BPS5bWd+s3ly5ffOno7tHddtphbCC3p8vBcRwRWr7TT3SsnjrbEcrd42+Jvn5eeTto03j6vbWG6/3h8xhiO1W9dMwKk9//KWy0b8qpDQLZ8GihWnczGVy7oUln9vq97smaPmxGvtLjD4vAiwzBncoepiYSYqCiqWzFNP49zHFZUOmwK7V3vmTe/rSjj+AylnVsbuJs1l78aG63+eox3eVA4Vn8D5CCl7umm69Yctlr0aOVJBeM3Dl5Egi5TSJwVMDrnC0GpVm3/kWxCmBzMjgMoOVKSIP/6fwn412ub+CyllxRSVnuXxTePNm/EB4FsBKBwslEpx0/RnSSitnJElJvWv0F/Pw/6fimQ6LyEZbmkvJRSKVqyl/Rp5+hNl58jzODN/lee+ZtIHLrfpzferizp7i1aSr1GtDujFAseqtfi13K5oXBq+e2MsmzcKlnJmuXrwjTPGGXSEdEVx1zytP2VFNukpL8wo/PjR371/UDHv3zd/3LvbV698WfHtOL55ANy1io1czWCDB7KJYBB43IJpqe/ce0bybUs6f4VfA6/5pzFymadEGK1IFGWspHFtE/7zKCykc+K6iD71OvJs3hbo63lG98JGH3bghu0FTLsmHRyhuqeS5cck3Ub40pB4Vj9AuSU+K8+1mC12GzyhLhFDbysfjkei21hZXNhtjil+WX/Wiiqixyt3yPngnXNpjppbd/L2r1i65TU4sbSMqrdVIaWWv9UuyWsy5Jl/2bVZVVqpNAmTaaov+L/hJGNzjn+9d/9K4/9/oS7UR4rax8/dBeJRF9OkXrj+eQ8YTWHi2sD/q4X/Ju9qRXUOVPUWYDBw+fCSC0crLOi13pxoXBq/Q1lKZ//ZfvCuBH7M//DL80SXLaXGdlGwTdPpmjHrSTiR7PK0xvOIffJr5PiOe0MEQ69JBVg1oj16HnTml666ak367HotV5mKByr35CjcSf5HEesFjsgL/iK7XRSEn/iWaeKrmYWsX0U23szBTbPZcXzA541759HHygIf2ruk8l94h9IdS+eFzNiz/lf9U4ZFly/t/dc5kvuJ6vfGtRsyaFwrH41qqlR0FMRrn2v6GcbhvFHXjIz2epi55Rn+FnxfJPCb1/Aa+Ey1zQq+gRyzX+USJ84i2Lhh8XWNntOWfUSIBw2MkRVxuHqBYlV5azIP4ZVhatLOWH/LDK7Rr0Pp1Bd+16xn0iG+Xser2ksFLcS4Yb/TxR84ySKH/1thnjVcTy55v0XF005OxDY9rOMCPAAgX4CUDh18FUQ2+c5FCMh/6MtHRweddVFgiLtnycj/HZGUr3xArK3fpf9xU2yJZYRoZ48rl/dTWL66/VU5HopKxSO9W/qIIv0Wyk2cLT9Vu5GnWqlzJJlJboovO1itviQuXPDPv1rpLjPUBTD/KUQ59bvotL7r3WQ3nlsjEeV/KIrkxAKx2quN5x+mK57zDLDTcGN2qWCzC9ZXcxy5MkB5ciOq3kgud/kTr8w3ghKzln/IbdlLQpsfPHGcvIY07RG0M1jOMeNaRmO0cyhcKx+sXe/uogNcE23QqzYO8NlmuIeK2RZLcPoe4EHk/8pQ6zmXUb65Gvk5q3PZgTCY9wTgMKp4a9AYH/HddxaaK7VIsYO/IiMYOZQh2PGP3MrR1nUt1FfXqtlz1uuBgqQ6tyZNw4CSyIAhVMStjyJpNlQCwxwyTEQXmvz1Tw5ZQSZCZUSEZ0tmVbrtZoU2f2/Wbkk96IPlkfOWmmNvNPCFDcNetbTDQxwVext1e/AXsWQlClYGj+3wAU3/vlqFjOrkCjTUCh4xEV79zvp9284adseO/WFNGr0JuiU+SH6+wu6adrEkWMthWSOJtwMbiCj53HSmy4bkcw29UYye9etFLtnfVqZ3V5f2wRggGvEu7TyAQrHSppS1n1/dwIJV0+5BriEKb5WqGixoI169jbQH7fp9ODzbBMzrrCZcpXmzD2BdF2nJ/77HfrDy4306Q8fpkvOrpwZm1jnzzIUjj7hEoqQ4gwf2b+Y67GhUF0QPj4IQOFY/Z4TvKVajZZlS0XuS+KtAifnK1qclU1XeyM9+45GDzybWgs4dVoz3Xrb/6MFJy5MJt27p52+/o+fp5/+mg8t4F7WRe+tjNKRA8hymly1Dc0kK6qTFO5aGfF2aS6jvhSONMBlZJn3z/dCEFYUgWp19osqDCKlCMTM+AfysZDbmrr3+uggT77/9k9DK/C//q3vDCobmb515iy65Xs/TIq646EpdKircr8vZvDVjCKrzvk8W6WcnhFQ6x7SANe1j7bXejHrsXxQOFa/NQsMcLEhlrwKJ3TUnRwY/v0We7IbJaugaRotWXpWRm3mLziJmiZOolBEpYeftXzHxWB+RuDlwfuBGxHbK9fkyC5VfTkY4KrY+4LCsRqtFQa4hMircCJ9qf2RW9sdg6XnTZ0UCmb25KR/MMhNIXZv7HAPxrf6Ro7jGMNaOdK0hclbIBRFjO12jFIrCgNcpZLLmw4KJy+eEgLLNMAVXu+cndf0BAfGeepbur7AyC7Smt8+mFHgxx99iGLR1MGe/iBPm0e1jDiWeBi9FNqyjO3onE6B13jjOJu2kI6LO7KQlmRWYSEwwFUxwPX3ZagYitoQnFASM+V/aS6XPPm3P9zn4ZN6hx0Qcd9dtydbOZf83eXJWao//uH39P/vvXNQlM9jkhHjY7YdxqCftTcmmaHNI0XyIccjPergSRrgIoIBrgq8Kigcq6E2OqTRmJJPbVSE4IO3cztV5VAe5JFKaeHxMR4IHjqRRi7A+82D9yevbBJOao2SouWTni1VmX5KHSocaYBLGji7fu07ZdYeydMIoEuVBqTsx5hdJW+zVAklOZ6Ayj/QwpJtztRCvotPjpJNrkcuwrkcgj64ME56f9oiklgShQ/S22eJoGoKgQGuitGGwrEarTTAdeDdSaWIXXdhy4otdzR93Ijl11fOhlQDajqbar/qnL6isvrE+X3UPDnG63GKU1BFCS0u0lvFRUOs8UAACqdG3vIzFx73fZ5DXuvfZzt35yNDa2uyFc89KUyqzm0hdh+cb9AnLujN2dJx2gXdcHEPLZ9tkHdaKJu4ivrxLFWmta6K5miBcBjgsgBidhEYw8nOpXRfPXGITD1zfjqHxHUXti4iSvwfNlL+yYEoR7c46d1GgxrmxFmxCGqYFePD6AZC5cF0gppm+unorkaedia6gJXOycd10zO8LuetPQ7qC2rU5Eskx3guaovTJJcg3zTeU1rl7lSyxIrKLZyUchyqQY3fSQNc1NfEpTxQ4yWtu+JB4Vj9yq5Zeojo/wq6fqhb9MwHj/upUMRc9uH2BslRXqdCopltALfwAVBDi2mGlaXjJQ91vJTysLHCaP1ggKadOdRCsbnjNHF2L/XsaSC5gXMar3b5xDLuaslruONMG5qDJFtF1XacddjjbvorUaZ1wGqXZVT5SQNcSnwGp4HCGRW4wpGhcAozGl0MaYBLvVweE9MhEz5/6azmWDz6JTmrNHz0JHU/3Cd3NvGwQrvW+igeUGnGB1KL+GRsuydOk+d3JXeLR3qcvP1nqBmk8myUwxclz9Qw6fZKTYPnLnMyRFGeVNoODxW4QHQEH/sEoHAq/I7PXXrNoWf+cicb5RayiV6W2/eCh6YvD5Im20n9TioWH4/NyMtkhWMaKne5TNJs3I0ZamQNRK/up0q/qW6GqdwCG2ynCjLew0bA4jayPedaFtk9qnJIA1x9MMA1KmZFRh76SSwyAaIVIJBmgEu55RZTUZSbC6QqKlhu2gwdzP0bobKSkeM0mr0GlA1RwNs8/amiKmZRpNAGV6v/Ze150zReY1a3s5K/Ky5iu/zrtRfCrzlnjSIbg+SOcTjLCUDhWI1UGuD61CMjzse9cN3+O3g9yq1WZDV88NgKeRWToai/VFr3VW3gKPCmZ5ohov8tSJybXideEHlOIhp7WtqITg/L+tzHZ39FehZmDYNnWQSgcMrClyWxNMC1asXk9JAL/9DxDTaO9b94WmlveljRz9xFck4Yo/GYogvJERXq8bk8/zaaJOXEFWKlJoKR3/FC65m55HAn9ER/R8cXcoXDvzoEoHCs5iwNcOlKajt3muwPrtu/2teoLuBBlpWseO7lVs9a/vwPVaOLuduVaY08Lf2EuTHSeT9UHbh/Vxb3dlernP4Nv/sqt2yKMdj+NbFtsty2kN/J7pRNq7OptfxVqpXQ3AMCtVLCY6wc712T7GY8xNWSF/1l5QyXv9dcy+MN+Q+645+G1vNrf8KH1wXt87a0/JxoX1XeXGCDp9k0w98uKjNBkwJ9XV/muPKI0NxOGuAiKnotVW5BCEkngBZOOpFyn0dhgOuVFS3uQK/5BCubCwplO+P9AfLOiBeKNqbh3ONLcOvtY9UcuxFm5DtcaW+xFedu11fEaxMm5I0PA1x58ZQTCIVTDr1saVd9eDr96mP59yZwunUXLvZ0RcSTPKB5XjYxw/0mnRzh1k3t/+By6+Zm39LEi8PLXsl7/wZ7G69uun5UeQhqDEQDXymYBga4CiIqJQIUTinU8qVRE1Mo6i/iF/fIgzyQeW4+UTLM0Wj+Zv5Hemt+ipbHoB7zLjN/WKg+VoWLrW12IYz7mOGo7e3Io5PFel/uDbbSAJei1Dxzq1hWUw4UTjVp9+f15w/N5EWAYkXOrBWSa3f+SIp+zrkPHfyoqiuj+xXPKbhCAYqy0as1fKpC0rOKDfjf+SF3Rc/MGljY0xcU4a/mjCYNcMmuMZzlBKBwrEYqDXBNP37EOpz0LN735J5uTVEu4lmq5/iXtJuvEN/v4Wsd339OczpbLnym4/yLntn7okzrXWo8yCdO5R/oTM+kSs9c5hd8jU3nK0u6pZW8qjj/Ru1qbqV8cTAzxcYn8y7g6XjHoFehG7ZN+Pm+V3wZyxeS6aQBrjsv5SMn4KwmgFkqq4n6o0oxQ5gXrOt4lrOWV1HOq5/yXX/itX/gyEV014oSWX4kRXnCO7V1ZTVP1vS/rH6ODPGzgcKr7sXkmv84qY4ZvA+2l8LbryKjryisXtUM/yPLyVwFLg1wkUgd9jWQET4tIYAWjiUYhwkxaXapBriGScm4DYjXL2PP2lE2pDzlW/q+K6ulbAKb7It5i8JzPGbzi9S4jUa25i+Te+FLSWUjgSl6Iznn3J3BLpeHKczPiVeaoFhyAaqAPxROBaBWRKRJNbNKlmejDvjc3o8ryguJitR1mNDQev09feu1tSKReD01o6eQPumj5DnlLXIe/2O20TzSIqtiP05qnmES8tyyqSF/ovezGTFggCsDiVUeUDhWkRyQIw1wEfkHHq34DKzXL5L7gayQZYUModDPK7mSmOuqBNdrH+IWzZ8SwvwLDw6vEIpXsU37Iiua7eSa9yses5mXtSqJ7se5N1S8HmTl+Q/ilZaRWitpgOtI9vGdrLnCs1gCUDjFkio2njTAdd1jli0JTu4TEuYPis2+GvF0U3uhEvn4N3un+terXwis194yhHiCFc/7ZT6a973kOfVv5Jz1E1Y0s3NmbQQ3UWTXNTnDswXwQsApAaNz5CzgkAGubEngVwaBItueZeQw3pKmGeAqt/r+9Y/IXeaLy5VjaXp9hC2xkkXLFb/BRGCJaZpLebbrfAqHzkmOz2gNpDddQZrndD7nagvZpn+ZVNu0nPmwYqJ4520U3fttbt2kWTzMmWoogJN/hRX77Yqypg52xg6Vux7voHBq+K35N2hXCdMsvCq2ynUwE+IKznL9aLKVpiECBzrPZNvNZylCWcqbLc/wR/tmJWXIaW3vMtIaziOt8Xxu0ZzFqwOK+2omen7PiuabrJjKWjZzfGDjw5dzWR5Olkca4Arru5L3+GMpgeLeqqVZHuPCpAEu0xj9z2waFrlsX5iJe9K8a+KR18B8lQ1dbfKdZTyUq0DS4JURi7+HWyzJK7C/g63wpY79FbyhXrZeNO9yVjLnkuY7O2PwN5dc6S9bNEbPkxQ78CMy/H/OF7X4MJM+w5FTCofkSmNvpPjEiFksASicYkkVG08a4CrTRTY658TM2GMspoamwYcqlVIcYg0P6r7ILZWnVEU5ZPKRvqpQ5pokTuGjYZbEo7EpyRRaIyuX00h1s4LxnEoqKxq5SE8ZhSUxYfgpfuguTnsmt2Reo9hBNuYX2T5UIEvuxHly57l3abCTpAEus2cui91oiWgIGSQAhTOIwqIbaYArxquHb3r8SCkS+9br74ubsYd5lKTmZ0n6B3Xfb3KLg4jnH9ynkO5aQKrrRL4WkuZmReOcUwqGwTTcBaPonm+wwrlj0K8SN1wDTTHDV7Psn1ZCPmSmCEDhWP1NSBrgKs2WSmCDdg3/g63i/9+sBrysLqpV8uQskvOENaTam60SSWa0nRLda1nR3Etm+E3L5OYTxBvYPsbhP03aM45GSvrByCcfYf19aoAYWwJi6xRvIND1I9MUN41tSUrL3TnnnrKVjRk/zFsSnk9eid7nSETL7pmOvjJCLJHdWeeZD8gB492jF4AUhQighVOI0GjDb3jsTR6gkH2Mopx/vX6e339UDg7PKipBDUZSnHK4Y3TOjOwiI7iRB33/ykrmhaq1YgqVMibi59ODH+qmEM2hG5/cVCg+wkdHAApndLwKx77z75vZAFeQPv5gX6HIfetV3jho/ivHY2N59evkjJHeJLd6ZTo5BmNG3iEz+CormNeSg77yk4yqbS7PLFQeH/6p+ACF3b/jUWksis3DqdQgKJxSyeVKlzLAJRVIToUjxLl6YP2fb+dB1xuLbgrlyq8G/MM7ryVH6/eSU90icYRbK9v4eoeM8BZWMJtZp1bttJjyaUjb0lqcJ9tggKt8mJkSoHAymVTUR25VCGx4eDVPJ19Z0YyqKdzooWj756qZYyXzOkEs3R5S2raWtZKwkgWsZ9loNlr99lQebMxhgItbNIr/Lw//kj+PHWVjNb8xlsctTv3ZjiMLYICrMi8CCqcyXLNK7XzKey9p4sasgfCsGQJ22S3mTRY1U6BjqCBQOFa/zBwGuDoebvyMzW58wursIM96Aj4l0WS9VEiUBKBwqvA92P/oxNZYWPux3RfTqpAdsiiTwAm+gI0mOHm0G85qAlA4VhPNYoArERZPsbIZaeTJ6nwhzzICIVNtpGBwomUCIWiQAGapBlFYdHPNkweHL/zj1s17Q116m6/FMptcFhUUYnIR6IvaVIprrRzemSsO/EsjgBZOadxyp7r78pPpnstaBiIYEXG3ajMU3WEMeOGzxgkYOpVtXqTGqzhmxYPCqSD6zkcblkVDthPt7to+E7yCCOpS9AQlESAHDHBV4uVB4VhNVeFdOImUnctYVPsBr+xXbC60bqzGXEl5NsXsggGuyhDGGI7VXG9Yu2NAZCKiLZX3ugstnAEm9fD5YqiliyI9C7msMMBl8QuDwrEYKN192Tw+GbKns+XFU/oOqk4pXtdNq3OBvAoR4GNjzF90nrCPxc+sUBbjWiy6VFa/fkFu0hV7PErXD4hWNCicARY1/ynowHMJnlJUCAa4KvCy0MKpAFQpMhHVzpaf/ItJozDfK5PAjSEBQcom+uQDQS4CDHBV4D1A4VgNtd8Al3H/5ORBSqOwxWV1SSCvFAKKeIkNcDXBAFcp8AqnQZeqMKPRxbj/Q9N4HY5PmKpNJjRNbuIcC0ZvRkehfmOr6ktsgEshoeJ/owJvES0cq6Em9Klf9ewjERqy4mckVNJsGMexGrXl8hTq9bkXbGQDXG4Y4LKcblIgFE4FuC7XuuYMF2tC4QzHUbv3QnmEDW/xKmN5UU/tFrR+S4Zmo9Xvjg1wtdmDE4aLlQoHrvYJqKT8V7KU3CUmeb4YnOUE8J9gOVKieELtHi42EUFDcjiPWrznkbYOz7Irn0uWTThsFFdG/GjUYpnrsUxQOFa/NTbA9Zh/2ohdxhF/cvzY6pwgz0ICvHThNkVZgz0oFjLNJgoKJxuVMv1WKxMPDhcRD9tSs1XDPXFfSwS6PJ5JqwYLdH1bDwxwDdKw9AYKx1KcLMzUD79uNhxVNTH0a8nT4vFAXZ3eazWVmpbHizNvU9oODxksur/dDgNclXllUDhWc/307zrp+rV+3s4gV6sOukgfFM4gjBq6MRPabu/EOT8aUSQj6O43wDXCGw/lE4DCKZ/hSAn9BrjY4NaIY2LDvQ4yYsA9EtYYPnGrM9zj5I214jPKCTuiY1iScZU1/gMq9Lp1jX41QjR/wQOHYdZ4BJOxeuB34e/0kNMX/433rMQzGcVoaQ7y6vDdGf7wKJsAFE7ZCNME9BvgCrknP6iyqYPhofIXVa46hhtbAr37fVLZtDc4pgzu6B9RokBngp9DI/zwYAkBLBCxBOMwIf0GuOSqsfYHJ+6NhfXjB0NlK+egmxqPGxqfHAzDTcUJyAWYPXt8ZPfGY55GcbGypCO7UumjRt6YMpcLBANcFr8V/NxaDDRpgGvVislSrOoQ/54uPtztpCgGkNOxVPw5HrLRkR0TyOZOGA1TIyucZ0bfqXimyCCDABROBpIyPfoNcEkpMz/SfQcPHo9YdSz9ZZMeXStJojou1OWio7saydUYFQ3NoauzjtsML4rdGYUBruFArLtHl8o6llklscL5VzbG9ePhgabB25L3+mji7N7h3ri3mICcFezr8FKU10C5myJmY0voWu8y46GC2cAAV0FEpUZAC6dUcrnSSQNc1z12YCC4dWX3TzS70TfwPPAZC9q4peMdeMSnxQSCR9zchZqYUjaTwvGmmcEVrGz+s6hspAGuVStOLyouIo2KAFo4o8JVRGRpgMvU5aI/v4ytsMm/A482fTTQpT0hj4wZLkGO57DdFR5E5qgjQobHwv1oCEhFLls13Kpk066CGmcEu3yT4pe4zzQ2FC1HGuBSIjgHvmhgxUdEC6d4VsXFZANcHNE3PPL0K7qfcvhiDwz3G7gP9zioh8d0YBVwgEhpn3JQuKu9kbp2NyaVjTzpdOLsvqenttjmuc+MF69sZPZa3CQtdbZYaaVBqlwE0MLJRcZi/9aPdF/z7q8nncfT5DPSRUdY6XTxlO0EbumosAyYjifvc5xbNP5DbpItmwHnbIzGJkwPfbbh7Pg9RCUsIr72UWl8Cwa4BoBa+IkWjoUwk6LYABdNP/5ouljZtXK4zffpNjOSHiafYwE5bdtEEd4CAZefgOD1TLI72rVrAh3lFs2AstHsJjW1BjZPPj42L6Vs8svJGbp6pRcGuHLSKSsALZyy8I0u8fQre9qPPDTptL6w+WoiqrrSU8vZqx6evXKx/Rwfr65Xdf7PghskEA/rrGgcfCimc4S5D3kUj2dyKOSdGvon31nGT6RyH0xUyk0f2cmEAa5S0BVKA4VTiNBow9kAFx14Vx6i1pEt6eSPHN12aPWUxQFhbk7E1Kybq+QWiEivk9wTw+SZEmbFM2KHRDaxx6wfH5dMET8rmV47ZbOc6PTFYp5p4V9MbPbdopwYwOh7jX8ToHDG4AVNverwjs51jYvCh/RX41EtqylL2W0IHnWRXLTmYsXjboqS7pRbfI5xx/WO8QCwXI0d6eMd9vEsvX5u0bgaojFXU+SuSV7PzcpZUV52UMJYTS6U0gDX00ffyBUM/9IJQOGUzi57SjbARS7XCFs42SI2X9S7Wzx/7pS9hzevjQZsF6dPmQ+kkYonJBUPX/KoGUdDlBy+ONk9seSpngPx6vWT601yhkkqGTkWI60jSr9sTnadXBOiYU9T5O4JTa5/Vk6L8sCuhYpmIFNpgCvR1ciPIyw3DgTjs3QCUDils8ueUhrgKnIMQfnAC7LJcun+hxuujvrt9yfiat4RY/lrP6B85D+fbPHIy+YyyMafGl8qrz2pVWcmlGS3KB7VyeCuUpyNy8ur0JIA3ZUQTm98i70h8uNJvsW/VpZsildE0QyAkwa4hJjJj1A4A0ws+oTCsQjkoJiUAa4jbPUv6xjOYLxhN8d9uO83R5+a+FQoEL8nGrZdYcbVgu9FtnzkIGpqIHVImKIJsvEaFM3OCsjBy0m4VaTpRnK6XY4FsenTocgW38kyyR3ZRkyjBF9cj6TRMSPOz7wQbzTH5ciyuhpinQ5v7L5JjbYfK8v8/TN/mywuNcRVk0DBL3Y1CzOe85p0aZfc/rCyc900TyIQ/WU0oF/NLZqhxSVFwhE80xUL8WuVVxYnW0byn1kqJjaDmmwRyRW58kq2jjic+id55C3xEIpUJNKyj+BV0fJK3vMRxqah8sV+rGRMU83ZFZJiinE2p2Ha3PG9dlfiD66GxM98y2NbUumyriQoRmRpcaQBrr3tu0tLjFT5CGT/VuZLgbD8BHQzTDFFntxYkmu+6KAc//mk2Np2w/6393/eMOhjiai+iDciWmIUWSqP5EAsd0p4SW1JZbQqEU/7C5sz3mN3my/rnvgDk+dMe0SZ3V5l7ZKlNjDAlQWKNV5QONZwHJJy7RPbhx5Kv0sdOUu3sQR50YFHGi5JGMr1PA6y2Ijpx7F5C1eugebSc61cSlUjodt5Ytth7OPNrK+5XIlnG1vsv1Pa+rqGcm0fuh3LOxjgqhh9KByr0a66gi3FGb100+NyLY5lbvqVfU+zMHkl3e7nZznt/p6LzDidz12cxdy1mclKaBKPm3j4fsyaLpouTFYoYd6i0a3ptIeUxOs2O704ZaL9aeWsZLdxoAr8OfaNmWGFwW0VCEDhWA1ZNT2kKmGrxabLm/2BZNfjMfaX1wi3+5FZE5yi5xRTNRdxF+oE1VRaEqYyhRXRRB6B8fAOdRf7O4WpOPiSw8gqP8vhnaTjZ16sOyiS1Zfg4V8R5x3tPBcvIhwW5nGgXh6APsx+e1ixbDdV5S2fZrzuuyhwaDBlvd5IA1yJUMb2lHqtTi2VGwqnlt6GRWWZfWW73Hj4p/7LIqnjSEzKANeucVTjqlU1yzLOquV9bGZ0w+lbhhvgOjYreYzXCga4KvaC0cKxGu39G6aSefmgAS6rxUNeFQjAAFfFIKOFYzXaLAa4rM4C8ipMAAa4KgYYLRyr0fIILa+o0+iey3zkcyToqjVhkvZV/FGFnwU/B+i+a9i+QldqUd91pwfpzg6N9E62N8ou0RyhT69K0L2Xpwwep8uQcfjs8rwyfI4orVwdr4iM//yEh+K9qR+qbOV4gZcK7no1ZXojVzkqLcPnCNGUNqXkcpimQT5X/6JDCRzOKgJQOFaRHJBjsx2gcGI+KWYrdUfkGpNt5A+eSIZip76w3DvF5i6PtJIhpiSTPLBzM7kCHooY81Iijuymp7/YRYZxcvJ5QEZvaAHvOXLwUl+D/deT0TWDl/lKc6ZE6TL80XaWcXRQRm9IHlXzNhWSYYu4KWHIM/zYInMOGeGeBVw3Jy9N5rXH9DLFeo4jxZiWTLNm6xsUIBfnm5IRDr9La646nFGOfDLuffVNSggH5zE/KVPKuPOmQ5xHikcgJgfE36JY73yuP+9oTS6L/uuIcvijb1L3piEZvcYelnFwUEZPRB6XsTVDhjjcQgY1J/OVMvrtUief8QcErCCwfd6iuTtPOjX1DzJMYNup31y+fPmtvmFeuAWBvATOOGOVrW3xt89Lj7Rj7qLW7fPaFqb7j8dnjOGMx7eOOoPAGBGAwhkj8MgWBMYjASic8fjWUWcQGCMCUDhjBB7ZgsB4JACFMx7fOuoMAmNEAApnjMAjWxAYjwSgcMbjW0edQWCMCEDhjBF4ZAsC45EAFM54fOuoMwiMEQEonDECj2xBYDwSgMIZj28ddQaBMSKAzZsFwIvkuSgFIiEYBJjAkiV3gkMBAlA4OQBpphLu8fedu+jUb5V85EsO0fA+RgnwKRqqoir+Y7R6llQLCicHxjfe+P6rHCQvOBAAAYsIYAzHIpAQAwIgUJgAFE5hRogBAiBgEQEoHItAQgwIgEBhAhjDYUZmXNjbTzpjemFciAECoycQj0ctORd+9DnXXopxr3DmNTr27OyJLY6Y0ZSN4dp7RyhRnRPQSNWdUzxv0446rwiKDwIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgAAIgUC6B/wF/e3vVDbFxYQAAAABJRU5ErkJggg=="
              }
            }

+ Response 200 (application/json)


            {
                "data": {
                    {
                      "id": "11f43465-d042-4db0-8aa9-13bac482bb59",
                      "profile": {
                        "name": "Test Tester",
                        "avatar": "https://s3.eu-west-2.amazonaws.com/jincor-test/avatars/empl_58eff45863866.png",
                        "position": "Code monkey",
                        "role": "company-admin" //company-admin, employee
                      },
                      "admin": true,
                      "contacts": {
                        "email": "test@test.com",
                        "phone": null
                      },
                      "company": {
                        "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                        "legalName": "Test Company",
                        "profile": {
                          "brandName":  {
                            "en": "My english brand name",
                            "ru": "Русское название"
                          },
                          "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f05129ba5cd.png",
                          "links": [
                            {
                              "name": "facebook",
                              "value": "http://facebook.com"
                            }
                          ],
                          "email": "admin@jincor.com",
                          "phone": "+7999229393",
                          "address": {
                            "country": {
                              "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                              "name": "Russia"
                            },
                            "city": null,
                            "formattedAddress": "Пироговый переулок, 5, оф. 15"
                          }
                        },
                        "economicalActivityTypes": [
                          {
                            "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                            "name": "Forestry & Logging",
                            "code": "AD"
                          },
                          {
                            "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                            "name": "Oil Refining & Natural Gas Processing",
                            "code": "CG"
                          }
                        ],
                        "companyType": {
                          "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                          "name": "Public Company",
                          "code": "BT2"
                        },
                        "employeesCount": 2
                      }
                    }
                }
            }

### Deactivate employee [DELETE]
Deactivate employee by its id

+ Response 200 (application/json)


            {
              "data": {
                "id": "3d7563a2-cdc9-4877-a322-a3c3edd5ad24",
                "profile": {
                  "name": "David Totraev",
                  "position": "Frontend wizard",
                  "role": "employee",
                  "avatar": null
                },
                "contacts": {
                  "email": "david@totraev.com",
                  "phone": null
                },
                "meta": {
                  "status": "deleted",
                  "registeredAt": "2017-04-20T03:21:01+0000",
                  "deletedAt": "2017-04-20T04:37:25+0000"
                }
              }
            }


## Make Admin / Remove Admin [/employee/admin]


### Grant or remove admin permissions to colleague [PUT]
You must be an admin of the company in order to perform this action

+ Request (application/json)

            {
                "id": "3d7563a2-cdc9-4877-a322-a3c3edd5ad24",
                "value": false
            }


+ Response 200 (application/json)
  + Body

            {
                "data": {
                    "id": "3d7563a2-cdc9-4877-a322-a3c3edd5ad24",
                    "profile": {
                        "name": "David Totraev",
                        "position": "Frontend wizard",
                        "role": "employee",
                        "avatar": null
                    },
                    "contacts": {
                        "email": "david@totraev.com",
                        "phone": null
                    },
                    "meta": {
                        "status": "active",
                        "registered_at": "2017-04-20T03:21:01+0000"
                    }
                }
            }


## Employee Companies [/employee/companies]

### Get the list of the companies by specific criteria [GET]

Show the list of the companies. For more information read description bellow.

**User can has multiple accounts(create Employee instances) associated to ONE company EACH**

**Account equals Employe**

**Credentials are stored for a pair `company:email`**

User is a real world physical person.
Emplpoyee is the model which is strongly belongs to the Company. In real world some people are working in multiple
companies at once. And at the same time it's usually not the same thing. This leads to the idea that even login credentials
may be different. Moreover there are different ways to check that account belongs to user. One of that ways is
** employee verification process**.
Exact the same thing we already used during registration process. EmployeeVerificationProcess is designed to be
enough flexible to store all the information we need to make decisions about user authentication. Additionaly, we generate and check Pin Codes, send emails and sms using this model.

Note that there are at lis 2 Valid types of request. To make it easier to understand, here is validation rules
for the request parameters used on backend:
```
[
    'email' => 'string|email|required_with:password',
    'password' => 'string|required_with:email',
    'verificationId' => 'string|size:36|required_without:email,password',
];
```

+ Request (application/json)

            {
                "verificationId": "11f43465-d042-4db0-8aa9-13bac482bb59"
            }


+ Request (application/json)

            {
                "email": "user@email.com",
                "password": "myCoolPassword"
            }


+ Response 200 (application/json)


            {
              "data": [
                {
                  "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56898",
                  "legalName": "Test Company",
                  "profile": {
                    "brandName":  {
                      "en": "My english brand name",
                      "ru": "Русское название"
                    },
                    "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_58f05129ba5cd.png",
                    "links": [
                      {
                        "name": "facebook",
                        "value": "http://facebook.com"
                      }
                    ],
                    "email": "admin@jincor.com",
                    "phone": "+7999229393",
                    "address": {
                      "country": {
                        "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                        "name": "Russia"
                      },
                      "city": null,
                      "formattedAddress": "Пироговый переулок, 5, оф. 15"
                    }
                  },
                  "economicalActivityTypes": [
                    {
                      "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a6",
                      "name": "Forestry & Logging",
                      "code": "AD"
                    },
                    {
                      "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                      "name": "Oil Refining & Natural Gas Processing",
                      "code": "CG"
                    }
                  ],
                  "companyType": {
                    "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                    "name": "Public Company",
                    "code": "BT2"
                  },
                  "employeesCount": 2
                },
                {
                  "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56897",
                  "legalName": "Test Company 2",
                  "profile": {
                    "brandName": {
                      "en": "My english brand name",
                      "ru": "Русское название"
                    },
                    "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_29f05129ba5cd.png",
                    "links": [
                      {
                        "name": "facebook",
                        "value": "http://facebook.com"
                      }
                    ],
                    "email": "admin2@jincor.com",
                    "phone": "+7999229394",
                    "address": {
                      "country": {
                        "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                        "name": "Russia"
                      },
                      "city": null,
                      "formattedAddress": "Пироговый переулок, 5, оф. 15"
                    }
                  },
                  "economicalActivityTypes": [
                    {
                      "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a8",
                      "name": "Forestry & Logging",
                      "code": "AD"
                    },
                    {
                      "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                      "name": "Oil Refining & Natural Gas Processing",
                      "code": "CG"
                    }
                  ],
                  "companyType": {
                    "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                    "name": "Public Company",
                    "code": "BT2"
                  },
                  "employeesCount": 6
                },
              ]
            }




## Send Restore password e-mail [/employee/restorePassword]

### Send restore instructions to email [POST]
Create Verification process instance to authorize request and send E-mail to employee with auth instructions.
This method returns VerificationProcess entity to allow you to track verification on frontend.
This action is designed to initiate verification process usually you would like to show Enter PIN input to finish this process.
In order to verify input take a look at **Verify e-mail** method.

+ Request (application/json)


            {
                "email": "user@email.com"
            }



+ Response 200 (application/json)

    + Body

            {
                "data": {
                    "id": "11f43465-d042-4db0-8aa9-13bac482bb59",
                    "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
                    "email": {
                        "value": "user@email.com",
                        "isVerified": false
                    },
                    "phone": {
                        "value": null,
                        "isVerified": false
                    }
                }
            }

## Change password [/employee/changePassword]

### Set the new password of Employee [PUT]

Change password is used in to change password for authenticated user.
Note that there are two ways of user authentication in this method.

1. By providing `oldPassword` parameter

2. By providing `verificationId` parameter

**DO NOT USE BOTH OF THIS OPTIONS TOGETHER!**


+ Request (application/json)

            {
                "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
                "verificationId": "fff41be8-4cea-4b89-a690-6f15d8b7eb2a",
                "password": "cclfdlflv"
            }

+ Request (application/json)

            {
                "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
                "oldPassword": "czmkimczm",
                "password": "J74dfhdXXX"
            }        
        
        
+ Response 200 (application/json)

    + Body
    
            {
                "data": {
                  "employee": {
                    "id": "aa51cb8e-1b3d-4569-a95a-00e5cfe1a6b8",
                    "profile": {
                      "name": "John Doe",
                      "position": "Tester",
                      "role": "company-admin", //company-admin, employee
                      "avatar": "http://i.imgur.com/n613Ki4.jpg"
                    },
                    "admin": true,
                    "contacts": {
                      "email": "john@doe.com",
                      "phone": null
                    },
                    "company": {
                      "id": "a3cbe21c-bab6-4c72-9d2e-8907f9a56897",
                      "legalName": "Test Company 2",
                      "profile": {
                        "brandName": {
                          "en": "My english brand name",
                          "ru": "Русское название"
                        },
                        "picture": "https://s3.eu-west-2.amazonaws.com/jincor-test/a3cbe21c-bab6-4c72-9d2e-8907f9a56898/avatars/pic_29f05129ba5cd.png",
                        "links": [
                          {
                            "name": "facebook",
                            "value": "http://facebook.com"
                          }
                        ],
                        "email": "admin2@jincor.com",
                        "phone": "+7999229394",
                        "address": {
                          "country": {
                            "id": "5ac1d660-2891-48cb-8527-8ef8813b37a9",
                            "name": "Russia"
                          },
                          "city": null,
                          "formattedAddress": "Пироговый переулок, 5, оф. 15"
                        }
                      },
                      "economicalActivityTypes": [
                        {
                          "id": "72a0d7d3-afaf-4f0f-936c-ca4ffa55a7a8",
                          "name": "Forestry & Logging",
                          "code": "AD"
                        },
                        {
                          "id": "0e5e6e6a-5a39-4803-9837-156113692c2d",
                          "name": "Oil Refining & Natural Gas Processing",
                          "code": "CG"
                        }
                      ],
                      "companyType": {
                        "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                        "name": "Public Company",
                        "code": "BT2"
                      },
                      "employeesCount": 6
                    }
                  }
                },
                "token": "jwt_token"
            }


## Employee profiles [/employee/matrix]

### By MatrixID [POST]

+ Request (application/json)

            {
              "matrixIds": [
                "@aaf9d7d6-30c1-4e90-b376-93ceb989fb26_test_test.com",
                "@aaf9d7d6-30c1-4e90-b376-93ceb989fb26_test2_test.com"
               ]
            }

+ Response 200 (application/json)

    + Body

            {
                "data": [
                    {
                                  "id": "547e7d91-bc27-4407-a27a-429d2855652b",
                                  "email": "lauren@mayberry.com",
                                  "name": "Lauren Mayberry",
                                  "firstName": "Lauren",
                                  "lastName": "Mayberry",
                                  "avatar": "http://i.imgur.com/QKHJ3Zs.png",
                                  "position": "Singer",
                                  "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
                                  "companyName": "Netflix",
                                  "companyLogo": "https://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2016/06/Netflix-Old-Logo.png"
                                }
                ]
            }

# Group Contacts

**All endpoints require JWT authentication**

**If perPage = 0 you will get all available results in Response**

## Contacts [/employee/contacts{?page}{?perPage}]

### Get contacts of an employee [GET]

+ Parameters

    + page (number, optional)
      Page number
    + perPage (number, optional)
      Contacts count per page

+ Response 200 (application/json)

        {
          "data": [
            {
              "id": "547e7d91-bc27-4407-a27a-429d2855652b",
              "email": "lauren@mayberry.com",
              "name": "Lauren Mayberry",
              "firstName": "Lauren",
              "lastName": "Mayberry",
              "avatar": "http://i.imgur.com/QKHJ3Zs.png",
              "position": "Singer",
              "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
              "companyName": "Netflix",
              "companyLogo": "https://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2016/06/Netflix-Old-Logo.png",
              'matrixId' => '@9fcad7c5-f84e-4d43-b35c-05e69d0e0362_lauren_mayberry.com',
            }
          ],
          "meta": {
            "pagination": {
              "total": 96,
              "perPage": 20,
              "currentPage": 1,
              "lastPage": 5,
              "prevPageUrl": "http:/company/api/v1/employee/contacts?page=0",
              "nextPageUrl": "http:/company/api/v1/employee/contacts?page=2",
              "from": 21,
              "to": 40
            }
          }
        }

### Add new contact [POST]

+ Request (application/json)

        {
            "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
            "email": "test@test.com"
        }

+ Response 200 (application/json)

        {
          "data": {
              "id": "547e7d91-bc27-4407-a27a-429d2855652b",
              "email": "lauren@mayberry.com",
              "name": "Lauren Mayberry",
              "firstName": "Lauren",
              "lastName": "Mayberry",
              "position": "Singer",
              "avatar": "http://i.imgur.com/QKHJ3Zs.png",
              "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
              "companyName": "Netflix",
              "companyLogo": "https://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2016/06/Netflix-Old-Logo.png"
          },
        }

### Delete a contact [DELETE]

+ Response 200 (application/json)

        {
          "data": {
              "id": "547e7d91-bc27-4407-a27a-429d2855652b",
              "email": "lauren@mayberry.com",
              "name": "Lauren Mayberry",
              "firstName": "Lauren",
              "lastName": "Mayberry",
              "avatar": "http://i.imgur.com/QKHJ3Zs.png",
              "position": "Singer",
              "companyId": "52b30158-05ee-474d-85b3-b489a5089ad0",
              "companyName": "Netflix",
              "companyLogo": "https://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2016/06/Netflix-Old-Logo.png"
          }
        }


## Contacts search [/employee/contacts/search{?email}{?page}{?perPage}]

### Search contacts by email [GET]

+ Parameters

    + email (string, required)
      Find contacts with specified email
    + page (number, optional)
      Page number
    + perPage (number, optional)
      Contacts count per page

+ Response 200 (application/json)

        {
          "data": [
            {
              "id": "63e88d9d-a79e-4705-9c8f-8712b71b53f8",
              "email": "test@test.com",
              "name": "John Doe",
              "firstName": "John",
[...]
